<hr>
<form action="{{ path('acme_product_homepage') }}" method="POST" {{ form_enctype(form) }}>
{{ form_label(form.name, 'Назва:') }}
{{ form_widget(form.name) }}
{{ form_errors(form.name) }}
<br>
{#
{{ form_label(form.photo1, 'photo:') }}
{{ form_widget(form.photo1) }}
{{ form_errors(form.photo1) }}
#}
<br>
{{ form_rest(form) }}
</form>
<hr>