<title>Про нас</title>

<p><b>ООО "Гастро - Украина"</b> является соло дистрибьютором на Украине японской фирмы <b><i>Fujiwara Chemical Co.</i></b> по поставке оригинальных отделочных материалов (жидких обоев) для интерьера стен, потолков. Материалы (ориентал коут) поставляются нами непосредственно из Японии.</p>
<p>Ориентал коут является экологически чистым, теплозвукоизоляционным материалом, который легко наносится на любую поверхность с возможностью многократного его использования.</p>
<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
