<title>Контакты</title>

<ul>
<p>Украина</p>
<p>г. Ивано-Франковск, 7600</p>
<p>ул. Ивана Франка 11, оф. 6</p>
<p>ООО "Гастро-Украина"</p>
<p>Тел.&nbsp;&nbsp;+38 (0342) 77-87-80</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+38 (050) 373-37-70</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+38 (067) 728-45-69</p>
</p>
<p>E-mail: gastroukraine@gmail.com</p>
</ul>

<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
