<title>Доставка заказов</title>

<h3>Уважаемые Господа!</h3>
   
<p>Если Вам кажется, что Вы слишком далеко от места где находится наша компания то реалии сегодняшнего дня и современные способы доставки заказанных Вами грузов дают возможность поставить необходимую продукцию в любой город Украины.</p>
<p>Мы предлагаем доставку до указанного места собственным транспортом при условии большого заказа. В этом случае стоимость транспортировки будет включено в стоимость заказа.</p>
<p>В других случаях, предлагаем гибкие возможности доставки заказанных товаров с помощью транспортных агентств:</p>
<ul>
<li>Ночной експресс;</li>
<li>Автолюкс;</li>
<li>САТ.</li>
</ul>                   
<p>Предлагаемые варианты доставок заказов, дают возможность выбрать для наших клиентов наиболее приемлемые варианты, которые удобны и соответственно дешевле.</p>
<br>
<p><b><i>Будем рады любым Вашим обращениям!</i></b></p>

<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>