<form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="form-horizontal">
{% set form = sylius_cart_form() %}

{{ form_widget(form._token) }}

<div class="form-group">
{{ form_widget(form.quantity, {'attr': {'class': 'form-control text-center'}, 'empty_value': '1'}) }}
</div>
		
<div class="form-group">
<button type="submit" class="btn btn-info">Add to Cart</button>
</div>

</form>