{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
	<ol class="breadcrumb">
	    <li><a href="{{ path('AcmeTaskBundle_task') }}">Головна</a></li>
	    <li><a href="{{ path('acme_account_homepage', {'id':id}) }}">Кабінет</a></li>
	    {% if app.request.attributes.get('_route') == "acme_users_goods_proposal" %}
		<li><a href="{{ path('acme_users_goods_proposal', {'id': id}) }}">Мої пропозиції товарів</a></li>
	    {% endif%}
	    {% if app.request.attributes.get('_route') == "acme_goods_proposal_create" %}
		<li><a href="{{ path('acme_users_goods_proposal', {'id': id}) }}">Мої пропозиції товарів</a></li>
		<li><a href="{{ path('acme_goods_proposal_create', {'id': id}) }}">Додати пропозицію</a></li>
	    {% endif%}
	</ol>

    <div class="row">
        <aside class="col-sm-3 sidebar sidebar-left">
	    <ul class="nav nav-pills nav-stacked">
		{% if app.request.attributes.get('_route') == "acme_profile_view" %}<li class="active">{% else %}<li>{% endif %}
		    <a href="{{ path('profile_view') }}/{{ id }}">Мій профіль</a></li>
		{% if app.request.attributes.get('_route') == "acme_account_homepage" %}<li class="active">{% else %}<li>{% endif %}
		    <a href="{{ path('account_view') }}/{{ app.user.id }}">Моя сторінка</a></li>
		<li><a href="#">Мої Повідомлення</a></li>
	        <li><a href="#">Мої Новини</a></li>
	        <li><a href="#">Мої Друзі<span class="badge pull-right">+2</span></a></li>
	        <li><a href="{{ path('acme_group', {'id': id} ) }}">Мої Групи</a></li>
	        <li><a href="#">Мої Документи</a></li>
	        <li><a href="#">Мої Фотографії</a></li>
	        <li><a href="#">Мої Відозиписи</a></li>
	        <li class="nav-divider"></li>
	        <li><a href="{{ path('acme_organization', {'id': id} ) }}">Мій бізнес</a></li>
	        {% if app.request.attributes.get('_route') == "acme_users_goods_proposal" or app.request.attributes.get('_route') == "acme_goods_proposal_create" %}<li class="active">{% else %}<li>{% endif %}
	    	    <a href="{{ path('acme_users_goods_proposal', {'id' : id}) }}">Мої товари</a>
	    	</li>
	        <li><a href="#">Послуги</a></li>
	        <li><a href="#">Технології</a></li>
	        <li><a href="#">Інвестиції</a></li>
	    </ul>
	</aside>
	<aside class="col-sm-9 sidebar sidebar-right">
	    {% block sub %}{% endblock %}
	</aside>
    </div>
</div>

{% endblock%}