<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}eMarket{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/acmetask/css/jquery-ui-1.9.1.custom.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href={{ asset('bundles/acmetask/css/chosen_1.3.0/chosen.css') }}>
	    <link rel="stylesheet" href={{ asset('bundles/acmetask/css/bootstrap.min.css') }}>
	    <link rel="stylesheet" href={{ asset('bundles/acmetask/css/bootstrap-theme.min.css') }}>
	    <link rel="stylesheet" href={{ asset('bundles/acmetask/css/sticky-footer.css') }}>
	    <style>
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
		    width: 30%;
    		    margin: auto;
		    }
            </style>
        {% endblock %}

    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('bundles/acmetask/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/acmetask/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/acmetask/js/tinymce/tinymce.min.js') }}"></script>
            
            <script src="{{ asset('bundles/acmetask/js/chosen_1.3.0/chosen.jquery.min.js') }}"></script>
            
            <script src="{{ asset('bundles/acmetask/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/acmetask/js/npm.js') }}"></script>
	    
	    <script type="text/javascript">
		tinymce.init({
		    relative_urls: false,
    		    selector: "textarea",
            	    plugins: [
                    	"advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
                        ],
                    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                    toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
                    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
                    menubar: false,
                    toolbar_items_size: 'small',
                    style_formats: [
                        {title: 'Bold text', inline: 'b'},
                        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                        {title: 'Example 1', inline: 'span', classes: 'example1'},
                        {title: 'Example 2', inline: 'span', classes: 'example2'},
                        {title: 'Table styles'},
                        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                        ],
                    templates: [
                        {title: 'Test template 1', content: 'Test 1'},
                        {title: 'Test template 2', content: 'Test 2'}
                        ]
                    });
            </script>
        {% endblock %}

	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		    <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">WebSiteName</a>
		    </div>
		    <div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav pull-right">
			    <li class="active"><a href="{{ path('AcmeTaskBundle_task') }}">Головна</a></li>
			    <li><a href="#">Новини</a></li>
			    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Інформація <b class="caret"></b></a>
				<ul class="dropdown-menu">
				    <li><a href="#">Про сайт</a></li>
				    <li><a href="#">Історія</a></li>
				    <li><a href="#">Допомога</a></li>
				    <li class="divider"></li>
				    <li class="dropdown-header">Контактна інформація</li>
				    <li><a href="#">Адміністрація</a></li>
				    <li><a href="#">Котакти</a></li>
				</ul>
			    </li>
			    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li>
				    <a href="{{ path('account_view') }}/{{ app.user.id }}"><span class="btnEntry"">{{ 'Профиль'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}: {{ app.user.username }}</span></a>
				</li>
				<li><a href="{{ path('fos_user_security_logout') }}"><span class="btnEntry"">{{ 'Выход'|trans({}, 'FOSUserBundle') }}</span></a></li>
			    {% else %}
				<li><a href="{{ path('fos_user_security_login') }}"><span class="btnEntry">{{ 'Вход'|trans({}, 'FOSUserBundle') }}</span></a></li>
				<li><a href="{{ path('fos_user_registration_register') }}"><span class="btnEntry">{{ 'Регистрация'|trans({}, 'FOSUserBundle') }}</span></a></li>
			    {% endif %}
			</ul>
		    </div>
		</div>
	</header>
{# {{ app.request.attributes.get('_route') }} #}
		<div class="container" style="height:50px;">
		    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<ul class="nav nav-pills">
			    {% if app.request.attributes.get('_route') == "acme_account_homepage" or app.request.attributes.get('_route') == "acme_users_goods_proposal" %}<li class="active">{% else %}<li>{% endif %}
				<a href="{{ path('account_view') }}/{{ app.user.id }}">Кабінет</a></li>
			    {% if app.request.attributes.get('_route') == "acme_goods_proposal" or app.request.attributes.get('_route') == "acme_goods_offer" %}<li class="active">{% else %}<li>{% endif %}
				<a href="{{ path('acme_goods_proposal') }}">Товари</a></li>
			    <li><a href="{{ path('acme_services_proposal') }}">Послуги</a></li>
			    <li><a href="{{ path('acme_technology_proposal') }}">Технології</a></li>
			    <li><a href="{{ path('acme_investment_proposal') }}">Інвестиції</a></li>
			    <li><a href="{{ path('acme_discussion') }}">Обговорення</a></li>
			    <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Рейтинги та обговорення <span class="caret"></span></a>
				<ul class="dropdown-menu">
				    <li><a href="{{ path('acme_users') }}">Користувачи та обговорення</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Мій рейтинг</a></li>
				    <li><a href="#">Про мене</a></li>
				    <li><a href="#">Обговорення та голосування</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Рейтинг компації</a></li>
				    <li><a href="#">Про компанію</a></li>
				    <li><a href="#">Обговорення та голосування компації</a></li>
				</ul>
			    </li>
			</ul>
		    {% else %}
			&nbsp;
		    {% endif %}
		</div>

    {% block body %}{% endblock %}

    {% block footer %}
	<div class="footer">
	    <div class="container">
		<div class="row">
		    <div class="col-md-3 col-sm-3 widget">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">WebSiteName</a>
			</div>
		    </div>
		    <div class="col-md-3 col-sm-3 widget">
			<h3 class="widget-title">Інформація</h3>
			<div class="widget-body small">
			    <p><a href="{{ path('acme_info', {'name' : 'about'}) }}">O нас</a></p>
			    <p><a href="{{ path('acme_info', {'name' : 'howto'}) }}">Как это работает</a></p>
			</div>
		    </div>
		    <div class="col-md-3 col-sm-3 widget">
			<h3 class="widget-title">Допомога</h3>
			<div class="widget-body small">
			    <p><a href="{{ path('acme_info', {'name' : 'concept'}) }}">Концепция</a></p>
			    <p><a href="{{ path('acme_info', {'name' : 'business_plan'}) }}">Бизплан</a></p>
			    <p><a href="{{ path('acme_info', {'name' : 'cooperation'}) }}">Кооперация и партенеры</a></p>
			    <p><a href="{{ path('acme_info', {'name' : 'science_about_cooperation'}) }}">Наука про кооперацию</a></p>
			    <p><a href="{{ path('acme_info', {'name' : 'cooperation_in_the_world'}) }}">Кооперация в мире</a></p>
			</div>
		    </div>
		    <div class="col-md-3 widget">
			<h3 class="widget-title">Контакти</h3>
			    <div class="widget-body small">
				<p>Україна</p>
				<p>м. Івано-Франківськ, 7600</p>
				<p>тел. +38(0XX) XXX-XXX-XX</p>
				<p>E-mail: mail@gmail.com</p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    {% endblock %}


    </body>
</html>