{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
	<ol class="breadcrumb">
	    <li><a href="{{ path('AcmeTaskBundle_task') }}">Головна</a></li>
	    <li><a href="{{ path('acme_account_homepage', {'id':id}) }}">Персональний кабінет</a></li>
	    <li><a href="{{ path('acme_group_view', {'id':organization[0].id_org}) }}">{{ organization[0].title }}</a></li>
	</ol>

    <div class="row">
        <aside class="col-sm-3 sidebar sidebar-left">
	    <ul class="nav nav-pills nav-stacked">
		{% if app.request.attributes.get('_route') == "acme_profile_view" %}<li class="active">{% else %}<li>{% endif %}
		    <a href="{{ path('profile_view') }}/{{ id }}">Профіль</a></li>
		{% if app.request.attributes.get('_route') == "acme_account_homepage" %}<li class="active">{% else %}<li>{% endif %}
		    <a href="{{ path('account_view') }}/{{ app.user.id }}">Головна</a></li>
		<li><a href="#">Повідомлення</a></li>
	        <li><a href="#">Новини</a></li>
	        <li><a href="#">Члени<span class="badge pull-right">+2</span></a></li>
	        <li><a href="#">Документи</a></li>
	        <li><a href="#">Фотографії</a></li>
	        <li><a href="#">Відозиписи</a></li>
	    </ul>
	</aside>
	<aside class="col-sm-9 sidebar sidebar-right">
	    {% block sub %}{% endblock %}
	</aside>
    </div>
</div>

{% endblock%}