{# ACME/TaskBundle/Resources/views/Default/contact.html.twig #}

<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
                                                                
	<h1><b>{{ var }}</b></h1>

    </body>
</html>
