{% extends '::base.html.twig' %}

{% block body %}
        <style>
        .carousel-inner > .item > img, .carousel-inner > .item > a > img {width:auto; height:240px;}
        .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 140px; margin:auto;}
        </style>

	<div class="container">
	    <div class="row">
	        <aside class="col-sm-3 sidebar sidebar-left">
	    	    <div class="row">
	            <ul class="nav nav-pills nav-stacked">
	                <li><a href="{{ path('acme_goods_proposal') }}">ТОВАРИ</a></li>
	                <li><a href="{{ path('acme_services_proposal') }}">ПОСЛУГИ</a></li>
	                <li><a href="{{ path('acme_technology_proposal') }}">ТЕХНОЛОГІЇ</a></li>
	                <li><a href="{{ path('acme_investment_proposal') }}">ІНВЕСТИЦІЇ</a></li>
	                <li><a href="{{ path('acme_discussion') }}">ОБГОВОРЕННЯ</a></li>
	            </ul>
	            </div>
	            <br>
		    <div class="row">
	    	    </div>
	        </aside>
	        <aside class="col-sm-9 sidebar sidebar-left">
	    	    <div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			    </ol>
			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">
				<div class="item active">
				    <img src="{{ asset('bundles/acmetask/images/record_191381617.jpg') }}" alt="Chania">
				    <div class="carousel-caption">
					<h3>32 014 грн.</h3>
					<p>Ноутбук Dell XPS 12 Ultrabook</p>
				    </div>
				</div>
				<div class="item">
				    <img src="{{ asset('bundles/acmetask/images/record_205204112.jpg') }}" alt="Chania">
				    <div class="carousel-caption">
					<h3>9 999 грн.</h3>
					<p>Мобильный телефон HTC Desire Eye Blue</p>
				    </div>
				</div>
				<div class="item">
				    <img src="{{ asset('bundles/acmetask/images/record_179568467.jpg') }}" alt="Flower">
				    <div class="carousel-caption">
					<h3>7 499 грн.</h3>
					<p>Телевизор Samsung UE40H5203</p>
				    </div>
				</div>
				<div class="item">
				    <img src="{{ asset('bundles/acmetask/images/record_89791759.jpg') }}" alt="Flower">
				    <div class="carousel-caption">
					<h3>57 928 грн.</h3>
					<p>Side-by-side холодильник LIEBHERR SBSES 7253</p>
				    </div>
				</div>
			    </div>
			    <!-- Left and right controls -->
			    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			    </a>
			</div>
		    </div>
		    <br>
	    	    <div class="row">
	    		<div class="page-header">
	    	    	    <h1 id="type">TOP пропозицій</h1>
	    	        </div>
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <div style="height:150px;"><a href="#"><img class="img-responsive" src="http://i1.rozetka.ua/goods/7489/ontario_rat_model_1_on8847_partial_serration_black_7489385.jpg" alt=""></a></div>
	    	            <h3><a href="#">932 грн.</a></h3>
	    	            <p>Ontario RAT Model 1 Black Partial Serration (ON8847) Black</p>
	    	        </div>
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <div style="height:150px;"><a href="#"><img class="img-responsive" src="http://i1.rozetka.ua/goods/3690/dewalt_dcd710s2_3690142.jpg" alt=""></a></div>
	    	            <h3><a href="#">3 708 грн.</a></h3>
	    	            <p>Аккумуляторная дрель-шуруповерт DeWalt DCD710S2</p>
	    	        </div>
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <div style="height:150px;"><a href="#"><img class="img-responsive" src="http://i2.rozetka.ua/goods/108466/record_108466599.jpg" alt=""></a></div>
	    	            <h3><a href="#">1 293 грн.</a></h3>
	    	            <p>JVC KD-R452EY</p>
	    	        </div>
	    	    </div>
	    	    <div class="row">
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <a href="#"><img class="img-responsive" src="http://placehold.it/700x400" alt=""></a>
	    	            <h3><a href="#">Project Name</a></h3>
	    	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	    	        </div>
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <a href="#"><img class="img-responsive" src="http://placehold.it/700x400" alt=""></a>
	    	            <h3><a href="#">Project Name</a></h3>
	    	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	    	        </div>
	    	        <div class="col-md-4 col-sm-4 portfolio-item">
	    	            <a href="#"><img class="img-responsive" src="http://placehold.it/700x400" alt=""></a>
	    	            <h3><a href="#">Project Name</a></h3>
	    	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	    	        </div>
	    	    </div>
	        </aside>
	    </div>
	</div>
	                                        
	
	
{% endblock %}
