{% extends '::base.html.twig' %}

{% block body %}

	<div class="entryForm">
	    <table style="width:96%; padding:5px; margin:30px auto;">
	    {% for item in users %}
		<tr>
		    <td>{{ item.surname }}</td>
		    <td>{{ item.name }}</td>
		    <td>{{ item.email }}</td>
		    <td>{{ item.passwd }}</td>
		</tr>
	    {% endfor %}
	    </table>
	</div>
	<div style="padding:10px; width:90%; margin:auto; text-align:right;"><a href="/app_dev.php/task/login">back</a></div>

{% endblock %}