{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
	<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal">
	    <div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">Реєстрація</h3>
		</div>

		<div style="height:30px; padding-top:15px; text-align:center;">	</div>

		<div class="panel-body">
		    <div class="form-group">
			<label for="username" class="col-lg-2 control-label">{{ form_label(form.email, 'E-mail: ') }}</label>
			<div class="col-lg-8">{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.email) }}</span></div>
		    </div>
		    <div class="form-group">
			<label for="username" class="col-lg-2 control-label">{{ form_label(form.username, 'Логін: ') }}</label>
			<div class="col-lg-8">{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.username) }}</span></div>
		    </div>
		    <div class="form-group">
			<label for="username" class="col-lg-2 control-label">{{ form_label(form.plainPassword.first, 'Пароль: ') }}</label>
			<div class="col-lg-8">{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.plainPassword.first) }}</span></div>
		    </div>
		    <div class="form-group">
			<label for="username" class="col-lg-2 control-label">{{ form_label(form.plainPassword.second, 'Повторіть пароль: ') }}</label>
			<div class="col-lg-8">{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.plainPassword.second) }}</span></div>
		    </div>
		    <div class="form-group">
			<div class="col-lg-10 col-lg-offset-1 text-center">
			    {{ form_rest(form) }}
			    <br>
			    <input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ ' з а р е є с т р у в а т и с ь '|trans }}"/>
			</div>
		    </div>
		</div>
	    </div>
	</form>
    </div>
{% endblock %}
                