{% extends '::group.html.twig' %}

{% block sub %}
    
    <style>
        .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-width: 150px; margin:auto;}
        .bg-primary{padding:3px;}
    </style>

    <p class="bg-primary">Віртуальна група</p>

    <div class="container-fluid">
	<div class="col-sm-3">
	    <img src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="" class="img-thumbnail">
	    <p></p>
	    <p class="text-center">
		{% if cnt == 0 %}
		    <a href="{{ path('acme_organization_application_create', {'id': id_org}) }}" class="btn-sm btn-success" style="text-decoration:none;">
			<span class="glyphicon glyphicon-plus"></span> Вступити до групи
		    </a>
		{% else%}
		    <a href="{{ path('acme_organization_application_create', {'id': id_org}) }}" class="btn-sm btn-success" style="text-decoration:none;" onClick="return confirm('Ви впевнені що хочете вийти?');">
			<span class="glyphicon glyphicon-remove"></span> Відписатись
		    </a>
		    {% if cnt_app > 0%}
		    <p class="text-center">
			<a href="{{ path('acme_organization_application_view', {'id': id_org }) }}" class="" style="text-decoration:none;">
			    Заявки на вступ<span class="badge pull-right"> {{ cnt_app }} </span>
			</a>
		    </p>
		    {% endif %}
		{% endif %}
	    </p>
	</div>
	<div class="col-sm-9">
	    <h3 style="margin:0px; padding:0px;">{{ organization[0].title }}</h3>
	    <h5><p><small>{{ organization[0].description|raw }}</small></p></h5>
	</div>
    </div>
    <div class="container-fluid">
	<div class="col-sm-3">
	    <div class="page-header">
		<h5 id="type">
		    <b>Учасники</b><span class="badge pull-right"> {{ cnt_all }} </span>
		</h5>
	    </div>
	    {% for user in allocate %}
		<p>
		    <a href="">
			<img src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="" class="img-thumbnail pull-left" style="max-width:40px; margin-right:5px;">
			<h6>{{user.lastname}} {{user.firstname}} {{user.middlename}}</h6>
		    </a>
		    <span class="clearfix"></span>
		</p>
	    {% endfor %}

	    <br>
	    <div class="page-header">
		<h5 id="type">
		    <b>Обговорення<b>
		    <small class="pull-right">
			<a href="{{ path('acme_organization_discussion_theme_create', {'id_org': id_org}) }}">Додати</a>
		    </small>
		</h5>
	    </div>
	    {% for dsc in discussion%}
		<a href="{{ path('acme_organization_discussion_theme_question', {'id_org': id_org,'id_dsc':dsc.iddsc}) }}">
		    <h6>
			<p>{{dsc.title}}</p>
			<p><small>[ {{ dsc.begindate|date("Y-m-d")}} - {{ dsc.enddate|date("Y-m-d")}} ]</small></p>
		    </h6>
		</a>
	    {% endfor%}
	    <br>
	    <h5><small class="pull-right"><a href="{{ path('acme_organization_discussion_theme_view', {'id_org':id_org}) }}">Переглянути всі</a></small></h5>
	</div>
	<div class="col-sm-9">
	    <h3 style="margin:0px; padding:0px;">
		<div class="page-header">
		    <h5 id="type"><b>Дошка</b></h5>
		</div>
		<p><small>Новини, події, інформація...</small></p>
	    </h3>
	</div>
    </div>
    <p><br></p>
{% endblock%}