{% extends '::account.html.twig' %}

{% block sub %}

    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/acmeuser/css/chosen.css') }}">
    <script src="{{ asset('bundles/acmeuser/js/chosen/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.ajaxaddition.jquery.js') }}"></script>

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_organization_profile', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li class="active"><a href="{{ path('acme_organization_address', {'id':id} ) }}" id="education" class="bookmarks">Юридична/поштова адреса</a></li>
	<li><a href="{{ path('acme_organization_bank', {'id':id} ) }}" id="business" class="bookmarks">Банківські реквізити</a></li>
        <li><a href="{{ path('acme_organization_document', {'id':id} ) }}" id="career" class="bookmarks">Нормативні документи</a></li>
        <li><a href="{{ path('acme_organization_contact', {'id':id} ) }}">Контакти</a></li>
    </ul>
    <br>

    <table class="table table-hover">
        <thead>
            <tr style="background-color:#F5F5F5;">
        	<th>Тип</th>
                <th>Країна</th>
                <th>Населений пункт</th>
                <th>Вулиця</th>
                <th>Будинок</th>
                <th>Квартира</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
	    {% for a in address%}
		<tr>
		    <th>
			{% if a.address_type == 0 %}
			    Поштова адреса
			{% else %}
			    Юридична адреса
			{% endif %}
		    </th>
	            <th>{{ a.title }}</th>
	            <th>{{ a.unit_name }}</th>
	            <th>{{ a.stitle }}</th>
	            <th>{{ a.building_no }}</th>
	            <th>{{ a.address }}</th>
	            <th><a href="{{ path('acme_organization_address_delete',{'id_org':id, 'id_org_address':a.id_org_address}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	        </tr>
	    {% endfor %}
	</tbody>
    </table>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати адресу<b></h5>
    </div>
    <form action="{{ path('acme_organization_address',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
    		<label for="comment" class="col-lg-2 control-label">{{ form_label(form.address_type, 'Тип адреси:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.address_type, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.address_type) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="lastname" class="col-lg-2 control-label">Країна:</label>
		<div class="col-lg-10">
		    <select id="country" name="country_id" class="form-control"><option value=""></option></select>
		</div>
	    </div>
	</div>
	<div id="level2" class="panel-body">
	    <div class="form-group">
		<label for="lastname" class="col-lg-2 control-label">Населений пункт:</label>
		<div class="col-lg-10"><select id="coatsu" name="administrative_unit_id" class="form-control"><option value=""></option></select></div>
	    </div>
	</div>
	<div id="level3" class="panel-body">
	    <div class="form-group">
		<label for="lastname" class="col-lg-2 control-label">Вулиця:</label>
		<div class="col-lg-10"><select id="street" name="street_id" class="form-control"><option value=""></option></select></div>
	    </div>
	</div>
	<div id="level4" class="panel-body">
	    <div class="form-group">
		<label for="lastname" class="col-lg-2 control-label">Будинок:</label>
		<div class="col-lg-10"><select id="building" name="building_id" class="form-control"><option value=""></option></select></div>
	    </div>
	</div>
	<div id="level4" class="panel-body">
	    <div class="form-group">
		<label for="lastname" class="col-lg-2 control-label">Квартира:</label>
		<div class="col-lg-10"><input type="text" id="flat" name="address" class="form-control" disabled></div>
	    </div>
	</div>
	{{ form_rest(form) }}
	<div style="margin:10px; text-align:center;">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <p><br></p>
    <p><br></p>
    <br>

                                        
<script>
    $('#country').ajaxChosen({
	dataType: 'json',
	type: 'POST',
	url: "{{ path('acme_profile_country') }}"
    },{	loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
    );
    
    $( "#country" ).change(function() {
	countryId = $( "#country" ).val();
	//$("#settlement").prop("disabled", false);
	
	$('#coatsu').ajaxChosen(
	{
	    dataType: 'json',
	    type: 'POST',
	    url: "{{ path('acme_profile_coatsu') }}/"+countryId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
	);
    });
      
    $( "#coatsu" ).change(function() {
	coatsuId = $( "#coatsu" ).val();
	$("#street").prop("disabled", false);
	$('#street').ajaxChosen(
	{
	    dataType: 'json',
	    type: 'POST',
	    url: "{{ path('acme_profile_street') }}/"+coatsuId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}"}
	);
    });

    $( "#street" ).change(function() {
	streetId = $( "#street" ).val();
	$("#building").prop("disabled", false);
	$('#building').ajaxChosen({
	    dataType: 'json',
	    type: 'POST',
	    url:"{{ path('acme_profile_building') }}/"+streetId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
	);
    });
    $( "#street" ).change(function() {
	$("#flat").prop("disabled", false);
    });

</script>

{% endblock %}