{% extends '::account.html.twig' %}

{% block sub %}
    
    <style>
	.container-fluid div{border:1px dotted;}
    </style>
    
    <div class="page-header" style="margin-top:15px;">
	<h5 class="text-primary">
	    <a><b>{{ discussion[0].title }}<b></a>
	    <small class="pull-right">
	        <a href="{{ path('acme_organization_discussion_theme_question_create', {'id_org':id_org,'id_dsc':id_dsc}) }}">Додати питання</a>
	    </small>
	</h5>
    </div>
                
    <table class="table table-hover">
	<thead>
    	    <tr>
                <th>Питання</th>
                <th>Автор</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
    	{% for quest in question %}
    	    <tr>
                <th>
            	    <h5>
            		<a href="{{ path('acme_organization_discussion_theme_question_comment', {'id_org':id_org,'id_dsc':id_dsc,'id_dscq':quest.id_dscq}) }}">{{ quest.title }}</a>
            		<br>
            		<small>{{ quest.description|raw }}</small>
            	    </h5>
            	</th>
                <th><h5><small>{{ quest.lastname }} {{ quest.firstname }}</small></h5></th>
                <th><h5><small>{{ quest.status }}</small></h5></th>
    	    </tr>
    	{% endfor %}
        </tbody>
    </table>
    <p><br></p>
{% endblock%}