{% extends '::account.html.twig' %}

{% block sub %}
    
    <style>
	.container-fluid div{border:1px dotted;}
    </style>
    
    <div class="page-header" style="margin-top:15px;">
	<h5 class="text-primary">
	    <a href=""><b>{{ question[0].title }}<b></a>
	    <p><small>{{ question[0].description|raw }}</small></p>
	</h5>
    </div>
                
    {% for comm in comment %}
	<table class="table table-bordered">
            <tbody>
                <tr>
                    <td rowspan="2" class="text-center" width="150px">
                	<img src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="" class="img-thumbnail" style="max-width:100px;">
                	<h6>
                	    <p><b>{{ comm.lastname }} {{ comm.firstname }}</b></p>
                	    <p><small>[ {{comm.creation|date('Y-m-d H:i') }} ]</small></p>
                	</h6>
                    </td>
                    <th>
			<h5>
			    {{ comm.comment | replace({'<comment>': '<div class="bg-info" style="">', '</comment>': '</div>'}) | raw }}
			</h5>
                    </th>
                </tr>
                <tr height="30px">
                    <th class="text-right">
                	<a href="{{ path('acme_organization_discussion_theme_question_comment_create',{'id_org':id_org,'id_dsc':id_dsc,'id_dscq':id_dscq}) }}" class="btn-xs btn-link">нове</a> / 
                	<a href="{{ path('acme_organization_discussion_theme_question_comment_answer',{'id_org':id_org,'id_dsc':id_dsc,'id_dscq':id_dscq,'id_dscc':comm.id_dscc}) }}" class="btn-xs btn-link">відповісти</a> / 
                	<a href="" class="btn-xs btn-link">оцінити</a>
                    </th>
                </tr>
            </tbody>
        </table>
                                                                                                                                                                           
    {% endfor %}

    <h5 class="pull-right"><a href="{{ path('acme_organization_discussion_theme_question_comment_create',{'id_org':id_org,'id_dsc':id_dsc,'id_dscq':id_dscq}) }}"><b>ДОДАТИ КОМЕНТАР</b></a></h5>

    <p><br></p>
{% endblock%}