{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <ul class="nav nav-tabs">
        <li><a href="{{ path('acme_organization_application_create',{'id':orgId}) }}" id="user" class="activeBookmarks">Фізична особа</a></li>
        <li class="active"><a href="{{ path('acme_organization_legal_application_create',{'id':orgId}) }}" id="legal" class="bookmarks">Юридична</a></li>
    </ul>                            
    <br><br>
    <div class="page-header text-center" style="margin-top:15px;">
        <h4 class="text-primary">
    	    <b>АНКЕТА-ЗАЯВА ЮРИДИЧНОЇ ОСОБИ<b>
    	</h4>
    	<br>
    	<form action="{{ path('acme_organization_legal_application_create', {'id': orgId}) }}" method="POST" {{ form_enctype(form1) }}  class="form-horizontal small">
	    <div class="panel-body">
		<div class="form-group">
		     <label for="legal" class="col-lg-2 control-label">{{ form_label(form1.legal, 'Юридична особа:') }}</label>
		    <div class="col-lg-8">{{ form_widget(form1.legal, { 'attr': {'class': 'form-control'} }) }}</div>
		    <div class="col-lg-2"><input type="submit" value="Обрати" class="btn btn-success"/></div>
		</div>
	    </div>
	{{ form_rest(form1) }}
	</form>
    </div>
    {% if next == true %}
    <form action="{{ path('acme_organization_legal_application_create', {'id': orgId}) }}" method="POST" {{ form_enctype(form2) }}  class="form-horizontal small">
        <div class="panel-body">
    	    <div class="col-lg-3">Назава:</div>
            <div class="col-lg-9">
        	<h5>
        	    <b>{{ organization[0].title }} [{{ organization[0].short }}]</b>
        	    <br>
        	    <small>{{ organization[0].description | raw }}</small>
        	</h5>
    	    </div>
        </div>
        <div class="panel-body">
    	    <div class="col-lg-3">Організаційно-правова форма:</div>
            <div class="col-lg-9">{{ organization[0].title_colfm }} [{{ organization[0].code_colfm }}]</div>
        </div>
        <div class="panel-body">
    	    <div class="col-lg-3">ЄДРПОУ:</div>
            <div class="col-lg-9">{{ organization[0].certificate_vat }}</div>
        </div>
        <div class="panel-body">
    	    <div class="col-lg-3">ІПН:</div>
            <div class="col-lg-9">{{ organization[0].itn }} від {{ organization[0].itn_date | date('d-m-Y') }}</div>
        </div>
        <div class="panel-body">
    	    <div class="col-lg-3">Види діяльності:</div>
            <div class="col-lg-9">
        	<ol>
        	{% for key,val in activity %}
        	    <li>{{ val }} [{{ key }}]</li>
        	{% endfor %}
        	</ol>
            </div>
        </div>
        {% for a in address%}
        <div class="panel-body">
            <div class="col-lg-3">
        	{% if a.address_type == 0 %}Поштова адреса:
        	{% else %}Юридична адреса:
        	{% endif %}
    	    </div>
    	    <div class="col-lg-9">
		{{ a.title }}<br>
		{{ a.unit_name }}<br>
		{{ a.stitle }} {{ a.building_no }}
		{% if a.address != null %}, {{ a.address }}{% endif %}
	    </div>
	</div>
	{% endfor %}
        <div class="panel-body">
    	    <div class="col-lg-3">Контактна інформація:</div>
            <div class="col-lg-9">
		{% for c in contact %}
        	    {% if c.type == 0 %}<p>Тел. {{ c.description }}: {{ c.contact }}</p>{% endif %}
        	    {% if c.type == 1 %}<p>Факс {{ c.description }}: {{ c.contact }}</p>{% endif %}
        	    {% if c.type == 2 %}<p>E-mail {{ c.description }}: {{ c.contact }}</p>{% endif %}
        	    {% if c.type == 3 %}<p>URL {{ c.description }}: {{ c.contact }}</p>{% endif %}
                {% endfor %}
            </div>
        </div>
	<div class="panel-body">
	    <div class="col-lg-3">Рекомендований (-а) членом кооперативу:</div>
	    <div class="col-lg-9">{{ form_widget(form2.from_user, { 'attr': {'class': 'form-control'} }) }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Прошу прийняти мене як дiйсного члена кооперативу<br>З моїх пайових нарахувань прошу сплатити вступний внесок у розмiрi 200,00 грн.</div>
	    <div class="col-lg-3">{{ form_widget(form2.valid, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-3">Прошу прийняти мене як асоцiйованого члена кооперативу<br>З моїх пайових нарахувань прошу сплатити пайовий внесок у розмiрi:</div>
		<div class="col-lg-3">{{ form_widget(form2.associated, { 'attr': {'class': 'form-control'} }) }}</div>
	    </div>
	<div class="panel-body">
	    <div class="col-lg-3">&nbsp;</div>
	    <div class="col-lg-9 text-primary">
		<span class="glyphicon glyphicon-info-sign"></span>
		&nbsp;&nbsp;
		Miнiмально можливий пайовий внесок для:
		<ul class="text-primary">
		    <li>дiйсного члена кооперативу становить 1000,00 грн.</li>
		    <li>асоцiйованого члена кооперативу становить 50,00 грн.</li>
		</ul>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Пайовий та вступний внески прошу зарахувати на рахунок:</div>
	    <div class="col-lg-9">{{ form_widget(form2.bank, { 'attr': {'class': 'form-control'} }) }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-12 text-danger">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		&nbsp;&nbsp;
		З положеннями Статуту ознайомлений (−а), права та обов’язки пайовика менi вiдомi й зрозумiлi.
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-12 text-danger">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		&nbsp;&nbsp;
		Зобов’язуюся виконувати положення Статуту, рiшення Загальних зборiв членiв−пайовикiв та iнших органiв правлiння
		та контролю, нести вiдповiдальнiсть згiдно дiючого законодавства України та внутрішнього статуту й укладених договорiв.
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-12 text-right">
		<input type="submit" value="Відправити" class="btn btn-success"/>
	    </div>
	</div>
    {{ form_rest(form2) }}
    </form>
    {% endif %}            

{% endblock%}