{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <ul class="nav nav-tabs">
	<li class="active"><a href="#">Реєстрація віртуальної групи</a></li>
    </ul>
    <p><br></p>        
    <form action="{{ path('acme_organization_create_group', {'id': id}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="title" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="avail" class="col-lg-2 control-label">{{ form_label(form.visibility, 'Відкрита/закрита:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.visibility, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.visibility) }}</span></div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-10 text-right">
		<input type="submit" value="Зареєструвати" class="btn btn-success"/>
	    </div>
	</div>
    {{ form_rest(form) }}
    </form>
{% endblock%}