{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Питання для обговорення<b></h5>
    </div>
                                                                                        
    <form action="{{ path('acme_organization_discussion_theme_question_create', {'id_org': id_org,'id_dsc':id_dsc}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <label for="type" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="type" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
	</div>
	<div class="col-lg-10 text-right">
	    <input type="submit" value="Відправити" class="btn btn-success"/>
	</div>
    {{ form_rest(form) }}
    </form>

{% endblock%}