{% extends '::account.html.twig' %}

{% block sub %}

    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/acmeuser/css/chosen.css') }}">
    <script src="{{ asset('bundles/acmeuser/js/chosen/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.ajaxaddition.jquery.js') }}"></script>

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_organization_profile', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li><a href="{{ path('acme_organization_address', {'id':id} ) }}" id="education" class="bookmarks">Юридична/поштова адреса</a></li>
	<li><a href="{{ path('acme_organization_bank', {'id':id} ) }}" id="business" class="bookmarks">Банківські реквізити</a></li>
        <li class="active"><a href="{{ path('acme_organization_document', {'id':id} ) }}" id="career" class="bookmarks">Нормативні документи</a></li>
        <li><a href="{{ path('acme_organization_contact', {'id':id} ) }}">Контакти</a></li>
    </ul>
    <br>

    <table class="table table-hover">
	<thead>
    	    <tr style="background-color:#F5F5F5;">
        	<th>Опис</th>
        	<th>Документ</th>
            	<th>Дія</th>
    	    </tr>
    	</thead>
	<tbody>
	{% for d in document %}
	    <tr>
		<th>{{ d.description }}</th>
	    	<th class="text-left"><a href="{{ path('acme_organization_view_document', {'id_org' : id,'path':d.path }) }}" target="blank">{{ d.path }}</a></th>
	    	<th width="10%"><a href="{{ path('acme_organization_document_delete',{'id_org':id, 'id_org_document':d.id_org_document}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	    </tr>
	{% endfor %}
    </table>    
    <br>
    
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати документ<b></h5>
    </div>

    <form action="{{ path('acme_organization_document',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
    		<label for="mfo" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="code" class="col-lg-2 control-label">{{ form_label(form.file, 'Файл:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.file) }}</span></div>
    	    </div>
	</div>
	{{ form_rest(form) }}
	<div style="margin:10px; text-align:center;">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <p><br></p>
    <p><br></p>
    <br>

{% endblock %}