{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('acme_organization_application_create',{'id':orgId}) }}" id="user" class="activeBookmarks">Фізична особа</a></li>
        <li><a href="{{ path('acme_organization_legal_application_create',{'id':orgId}) }}" id="legal" class="bookmarks">Юридична</a></li>
    </ul>                            
    <br><br>
    <div class="page-header text-center" style="margin-top:15px;">
        <h4 class="text-primary">
    	    <b>АНКЕТА-ЗАЯВА ФІЗИЧНОЇ ОСОБИ<b>
    	    <br>
    	</h4>
    </div>

    <form action="{{ path('acme_organization_application_create', {'id': orgId}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <div class="col-lg-3">П.І.П.:</div>
	    <div class="col-lg-9">{{ person[0].lastname }} {{ person[0].firstname }} {{ person[0].middlename }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Дата народження:</div>
	    <div class="col-lg-9">{{ person[0].birthday|date('d-m-Y') }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Серія та номер паспорта:</div>
	    <div class="col-lg-9">{{ passport[0].passport }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Ким та коли виданий</div>
	    <div class="col-lg-9">{{ passport[0].issuer }}, {{ passport[0].begin_date|date('d-m-Y') }} </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">ІПН:</div>
	    <div class="col-lg-9">{{ itn[0].itn }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Адреса:</div>
	    <div class="col-lg-9">
		{{ address[0]['title'] }}, 
		{{ address[0]['unit_name'] }}, 
		{{ address[0]['stitle'] }} 
		{{ address[0]['building_no'] }},
		{{ address[0]['address'] }}
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Контактна інформація:</div>
	    <div class="col-lg-9">
	    {% for c in contacts %}
	    {{ c.data }}
	    {% endfor %}
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Рекомендований (-а) членом кооперативу:</div>
	    <div class="col-lg-9">{{ form_widget(form.from_user, { 'attr': {'class': 'form-control'} }) }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">Прошу прийняти мене як дiйсного члена кооперативу<br>З моїх пайових нарахувань прошу сплатити вступний внесок у розмiрi 200,00 грн.</div>
	    <div class="col-lg-3">{{ form_widget(form.valid, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-3">Прошу прийняти мене як асоцiйованого члена кооперативу<br>З моїх пайових нарахувань прошу сплатити пайовий внесок у розмiрi:</div>
	    <div class="col-lg-3">{{ form_widget(form.associated, { 'attr': {'class': 'form-control'} }) }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-3">&nbsp;</div>
	    <div class="col-lg-9 text-primary">
		<span class="glyphicon glyphicon-info-sign"></span>
		&nbsp;&nbsp;
		Miнiмально можливий пайовий внесок для:
		<ul class="text-primary">
		    <li>дiйсного члена кооперативу становить 1000,00 грн.</li>
		    <li>асоцiйованого члена кооперативу становить 50,00 грн.</li>
		</ul>
	    </div>
	</div>

	<div class="panel-body">
	    <div class="col-lg-3">
		Пайовий та вступний внески прошу зарахувати на рахунок:
	    </div>
	    <div class="col-lg-9">{{ form_widget(form.bank, { 'attr': {'class': 'form-control'} }) }}</div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-12 text-danger">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		&nbsp;&nbsp;
		З положеннями Статуту ознайомлений (−а), права та обов’язки пайовика менi вiдомi й зрозумiлi.
	    </div>
	</div>
	<div class="panel-body">
	    <div class="col-lg-12 text-danger">
	    <span class="glyphicon glyphicon-exclamation-sign"></span>
	    &nbsp;&nbsp;
	    Зобов’язуюся виконувати положення Статуту, рiшення Загальних зборiв членiв−пайовикiв та iнших органiв правлiння
	    та контролю, нести вiдповiдальнiсть згiдно дiючого законодавства України та внутрішнього статуту й укладених договорiв.
	    </div>
	</div>

	<div class="panel-body">
	<div class="col-lg-12 text-right">
	    <input type="submit" value="Відправити" class="btn btn-success"/>
	</div>
    {{ form_rest(form) }}
    </form>

{% endblock%}