{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Створення теми для обговорення<b></h5>
    </div>
                                                                                        
    <form action="{{ path('acme_organization_discussion_theme_create', {'id_org': orgId}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <label for="type" class="col-lg-2 control-label">{{ form_label(form.type, 'Тип:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.type) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="description" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="begin_date" class="col-lg-2 control-label">{{ form_label(form.begin_date, 'Початок:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.begin_date, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.visibility) }}</span></div>
	</div>
        <div class="panel-body">
            <label for="end_date" class="col-lg-2 control-label">{{ form_label(form.end_date, 'Завершення: ') }}</label>
            <div class="col-lg-8">{{ form_widget(form.end_date, { 'attr': {'class': 'form-control'} }) }}</div>
            <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.end_date) }}</span></div>
        </div>        
	<div class="panel-body">
	    <label for="visibility" class="col-lg-2 control-label">{{ form_label(form.visibility, 'Видимість:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.visibility, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.visibility) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="status" class="col-lg-2 control-label">{{ form_label(form.status, 'Статус:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.status) }}</span></div>
	</div>
	<div class="panel-body">
	<div class="col-lg-10 text-right">
	    <input type="submit" value="Відправити" class="btn btn-success"/>
	</div>
    {{ form_rest(form) }}
    </form>

{% endblock%}