{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Заявки фізичних осіб на членство</b></h5>
    </div>
    
    {% for item in application %}
	{% if item.confirmation == ''%}
	    <div class="col-sm-9">
		<a href="{{ path('acme_account_homepage', {'id':id}) }}">{{ item.lastname }} {{ item.firstname }} {{ item.middlename }}</a>
		<p><small></small></p>
		<p><small>Дата заявки: {{ item.creation|date('Y-m-d H:i:s') }}</small></p>
	    </div>
	    <div class="col-sm-3">
		<a href="{{ path("acme_organization_application_action", {"id_org": id, "id_u":item.entry_id_u}) }}" class="btn btn-success pull-right">Прийняти / відхилити</a>
	    </div>
	    <div id="target"></div>
	{% endif %}
    {% endfor %}

    <span class="clearfix"></span>

    <br>
    <br>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Заявки юридичних осіб на членство</b></h5>
    </div>
    
    {% for legal in application_legal %}
	{% if legal.confirmation == ''%}
	    <div class="col-sm-9">
		<a href="{{ path('acme_account_homepage', {'id':id}) }}">{{ legal.title }}</a>
		<p><small>{{ legal.lastname }} {{ legal.firstname }} {{ legal.middlename }}</small></p>
		<p><small>Дата заявки: {{ legal.creation|date('Y-m-d H:i:s') }}</small></p>
	    </div>
	    <div class="col-sm-3">
		<a href="{{ path("acme_organization_application_action", {"id_org": id, "id_u":legal.entry_id_u}) }}" class="btn btn-success pull-right">Прийняти / відхилити</a>
	    </div>
	    <div id="target"></div>
	{% endif %}
    {% endfor %}

{% endblock%}