{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>
    
        <div class="page-header" style="margin-top:15px;">
            <h5 class="text-primary"><b>Розгляд заявки на членство<b></h5>
        </div>
                    
	<div class="col-sm-12">
	    <form action={{ path("acme_organization_application_action", {"id_org": id_org, "id_u":id_u}) }} method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
		<div class="panel-body">
		    <label for="confirmation" class="col-lg-2 control-label">{{ form_label(form.confirmation, "Дія:") }}</label>
		    <div class="col-lg-8">{{ form_widget(form.confirmation, { "attr": {"class": "form-control"} }) }}</div>
		    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.confirmation) }}</span></div>
		</div>
		<div class="panel-body">
		    <label for="comment" class="col-lg-2 control-label">{{ form_label(form.answer, "Відповідь:") }}</label>
		    <div class="col-lg-8">{{ form_widget(form.answer, { "attr": {"class": "form-control"} }) }}</div>
		    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.answer) }}</span></div>
		    <div class="col-lg-10 text-right">
			<br>
			<input type="submit" value="Ok" class="btn btn-success"/>
		    </div>
		</div>
	    {{ form_rest(form) }}
	    </form>
	</div>
{% endblock%}
