{% extends '::account.html.twig' %}

{% block sub %}

    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/acmeuser/css/chosen.css') }}">
    <script src="{{ asset('bundles/acmeuser/js/chosen/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.ajaxaddition.jquery.js') }}"></script>

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_organization_profile', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li><a href="{{ path('acme_organization_address', {'id':id} ) }}" id="education" class="bookmarks">Юридична/поштова адреса</a></li>
	<li class="active"><a href="{{ path('acme_organization_bank', {'id':id} ) }}" id="business" class="bookmarks">Банківські реквізити</a></li>
        <li><a href="{{ path('acme_organization_document', {'id':id} ) }}" id="career" class="bookmarks">Нормативні документи</a></li>
        <li><a href="{{ path('acme_organization_contact', {'id':id} ) }}">Контакти</a></li>
    </ul>
    <br>

    <table class="table table-hover">
        <thead>
            <tr style="background-color:#F5F5F5;">
                <th>Банк</th>
                <th>МФО</th>
                <th>Код</th>
                <th>Р/р</th>
                <th>Додаткова інформація</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
	    {% for b in bank %}
		<tr>
	            <th>{{ b.title }}</th>
	            <th>{{ b.mfo }}</th>
	            <th>{{ b.code }}</th>
	            <th>{{ b.rr }}</th>
	            <th>{{ b.description }}</th>
	            <th><a href="{{ path('acme_organization_bank_delete',{'id_org':id, 'id_org_bank':b.idorgbank}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	        </tr>
	    {% endfor %}
	</tbody>
    </table>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати банківські реквізити<b></h5>
    </div>
    <form action="{{ path('acme_organization_bank',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
    		<label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва банку:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="mfo" class="col-lg-2 control-label">{{ form_label(form.mfo, 'МФО:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.mfo, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.mfo) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="code" class="col-lg-2 control-label">{{ form_label(form.code, 'Код:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.code, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.code) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="rr" class="col-lg-2 control-label">{{ form_label(form.rr, 'Р/р:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.rr, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.rr) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="title" class="col-lg-2 control-label">{{ form_label(form.description, 'Додаткова інформація:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
    	    </div>
	</div>
	{{ form_rest(form) }}
	<div style="margin:10px; text-align:center;">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <p><br></p>
    <p><br></p>
    <br>

{% endblock %}