{% extends '::organization.html.twig' %}

{% block sub %}

	<link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

	<ul class="nav nav-tabs">
	    <li class="active"><a href="{{ path('acme_organization_profile', {'id':id_org}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	    <li><a href="{{ path('acme_organization_address', {'id':id_org} ) }}" id="education" class="bookmarks">Юридична/поштова адреса</a></li>
	    <li><a href="{{ path('acme_organization_bank', {'id':id_org} ) }}" class="bookmarks">Банківські реквізити</a></li>
	    <li><a href="{{ path('acme_organization_document', {'id':id_org} ) }}" id="career" class="bookmarks">Нормативні документи</a></li>
	    <li><a href="{{ path('acme_organization_contact', {'id':id_org} ) }}">Контакти</a></li>
	</ul>
	<br>
	<form action="{{ path('acme_organization_profile', {'id': id_org}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.short, 'Коротка назва:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.short, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.short) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.legal_form, 'Організаційно-правова форма:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.legal_form, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.legal_form) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.certificate_vat, 'Код ЄДРПО:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.certificate_vat, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.certificate_vat) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="title" class="col-lg-2 control-label">{{ form_label(form.itn, 'ІПН, Дата реєстрації') }}</label>
		<div class="col-lg-5">{{ form_widget(form.itn, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-3">{{ form_widget(form.itn_date, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2">
		    <span class="text-danger">
			{{ form_errors(form.itn) }}
			{{ form_errors(form.itn_date) }}
		    </span>
		</div>
	    </div>
	    <div class="panel-body">
	        <label for="title" class="col-lg-2 control-label">{{ form_label(form.activity, 'Види діяльності:') }}</label>
	        <div class="col-lg-8">{{ form_widget(form.activity, { 'attr': {'class': 'form-control'} }) }}</div>
	        <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.activity) }}</span></div>
	    </div>
	    <div class="panel-body">
		<label for="avail" class="col-lg-2 control-label">{{ form_label(form.visibility, 'Відкрита/закрита:') }}</label>
		<div class="col-lg-8">{{ form_widget(form.visibility, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.visibility) }}</span></div>
	    </div>
	    <div class="panel-body">
		<div class="col-lg-10 text-right">
		    <input type="submit" value="Зберегти" class="btn btn-success"/>
		</div>
	    </div>
	    {{ form_rest(form) }}
	</form>

    <script>
	$("#form_legal_form").chosen();
	$("#form_activity").chosen({max_selected_options: 4});
    </script>

{% endblock %}