{% extends '::account.html.twig' %}

{% block sub %}

    <link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/acmeuser/css/chosen.css') }}">
    <script src="{{ asset('bundles/acmeuser/js/chosen/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.jquery.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/chosen/chosen.ajaxaddition.jquery.js') }}"></script>

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_organization_profile', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li><a href="{{ path('acme_organization_address', {'id':id} ) }}" id="education" class="bookmarks">Юридична/поштова адреса</a></li>
	<li><a href="{{ path('acme_organization_bank', {'id':id} ) }}" id="business" class="bookmarks">Банківські реквізити</a></li>
        <li><a href="{{ path('acme_organization_document', {'id':id} ) }}" id="career" class="bookmarks">Нормативні документи</a></li>
        <li class="active"><a href="{{ path('acme_organization_contact', {'id':id} ) }}">Контакти</a></li>
    </ul>
    <br>

    <!--
    telephone
    __________________________________
    -->
    <table class="table table-hover">
	<thead>
    	    <tr style="background-color:#F5F5F5;">
        	<th width="90%" colspan="2">Телефон</th>
            	<th>Дія</th>
    	    </tr>
    	</thead>
	<tbody>
	{% for c in contact %}
	    {% if c.type == 0 %}
		<tr>
	    	    <th width="20%">Тел. {{ c.description }}</th>
	    	    <th class="text-left">{{ c.contact }}</th>
	    	    <th><a href="{{ path('acme_organization_contact_delete',{'id_org':id, 'id_org_contact':c.idorgcontact}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	    	</tr>
	    {% endif %}
	{% endfor %}
    </table>    
    <br>

    <!--
    fax
    __________________________________
    -->
    <table class="table table-hover">
	<thead>
    	    <tr style="background-color:#F5F5F5;">
        	<th width="90%" colspan="2">Факс</th>
            	<th>Дія</th>
    	    </tr>
    	</thead>
	<tbody>
	{% for c in contact %}
	    {% if c.type == 1 %}
		<tr>
	    	    <th width="20%">Факс {{ c.description }}</th>
	    	    <th class="text-left">{{ c.contact }}</th>
	    	    <th><a href="{{ path('acme_organization_contact_delete',{'id_org':id, 'id_org_contact':c.idorgcontact}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	    	</tr>
	    {% endif %}
	{% endfor %}
    </table>    
    <br>

    <!--
    E-mail
    __________________________________
    -->
    <table class="table table-hover">
	<thead>
    	    <tr style="background-color:#F5F5F5;">
        	<th width="90%" colspan="2">E-mail</th>
            	<th>Дія</th>
    	    </tr>
    	</thead>
	<tbody>
	{% for c in contact %}
	    {% if c.type == 2 %}
		<tr>
	    	    <th width="20%">E-mail {{ c.description }}</th>
	    	    <th class="text-left"><a href=mailto:{{ c.contact }}>{{ c.contact }}</th>
	    	    <th><a href="{{ path('acme_organization_contact_delete',{'id_org':id, 'id_org_contact':c.idorgcontact}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	    	</tr>
	    {% endif %}
	{% endfor %}
    </table>    
    <br>

    <!--
    Url
    __________________________________
    -->
    <table class="table table-hover">
	<thead>
    	    <tr style="background-color:#F5F5F5;">
        	<th width="90%" colspan="2">Url</th>
            	<th>Дія</th>
    	    </tr>
    	</thead>
	<tbody>
	{% for c in contact %}
	    {% if c.type == 3 %}
		<tr>
	    	    <th width="20%">Url {{ c.description }}</th>
	    	    <th class="text-left"><a href={{ c.contact }}>{{ c.contact }}</a></th>
	    	    <th><a href="{{ path('acme_organization_contact_delete',{'id_org':id, 'id_org_contact':c.idorgcontact}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	    	</tr>
	    {% endif %}
	{% endfor %}
    </table>    
    <br>

    
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати контакт<b></h5>
    </div>
    <form action="{{ path('acme_organization_contact',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
    		<label for="title" class="col-lg-2 control-label">{{ form_label(form.type, 'Тип:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.type) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="mfo" class="col-lg-2 control-label">{{ form_label(form.description, 'Опис:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.description) }}</span></div>
    	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
    		<label for="code" class="col-lg-2 control-label">{{ form_label(form.contact, 'Контакт:') }}</label>
    		<div class="col-lg-8">{{ form_widget(form.contact, { 'attr': {'class': 'form-control'} }) }}</div>
    		<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.contact) }}</span></div>
    	    </div>
	</div>
	{{ form_rest(form) }}
	<div style="margin:10px; text-align:center;">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <p><br></p>
    <p><br></p>
    <br>

{% endblock %}