{% extends '::organization.html.twig' %}

{% block sub %}
    
    <style>
	.container-fluid div{border:1px dotted;}
    </style>
    
    <div class="page-header" style="margin-top:15px;">
	<h5 class="text-primary">
	    <a href=""><b>Обговорення<b></thema>
	    <small class="pull-right">
	        <a href="{{ path('acme_organization_discussion_theme_create', {'id_org':id_org}) }}">Додати</a>
	    </small>
	</h5>
    </div>
                
    <table class="table table-hover">
	<thead>
    	    <tr>
                <th>Тема/опис</th>
                <th>Початок/завершення</th>
                <th>Автор</th>
                <th>Тип</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
    	{% for theme in discussion %}
    	    <tr>
                <th>
            	    <h5>
            		<a href="{{ path('acme_organization_discussion_theme_question', {'id_org':id_org,'id_dsc':theme.id_dsc}) }}">{{ theme.title }}</a>
            		<br>
            		<small>{{ theme.description|raw }}</small>
            	    </h5>
            	</th>
                <th><h5><small>{{ theme.begin_date|date("Y-m-d") }} - {{ theme.end_date|date("Y-m-d") }}</small></h5></th>
                <th><h5><small>{{ theme.lastname }} {{ theme.firstname }}</small></h5></th>
                <th><h5><small>{{ theme.type }}</small></h5></th>
                <th><h5><small>{{ theme.status }}</small></h5></th>
    	    </tr>
    	{% endfor %}
        </tbody>
    </table>
    <p><br></p>
{% endblock%}