{% extends '::account.html.twig' %}

{% block sub %}

    <style>
     .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 100px; margin:auto;}
    </style>

    <ul class="nav nav-tabs">
	<li class="active"><a href="{{ path('acme_organization',{'id':id}) }}" class='thisChecked'>Мої організації</a></li>
    </ul>
    <br>
    <p>
	<a href="{{ path('acme_organization_create', {'id':id}) }}" class="btn-sm btn-success pull-right" style="text-decoration:none;">
	    <span class="glyphicon glyphicon-plus"></span> Зареєструвати юридичну особу
	</a>
    </p>
    <span class="clearfix"></span>
    <p><br></p>
    
    {% for item in organization %}
    <div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
    <a href="{{ path('acme_organization_view',{'id':item.id_org}) }}" class="thumbnail small" style="height:220px;">
    <div style="height:100px; margin:10px 0px 0px 0px;">
    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    </div>
    <h6><small>{{ item.colfmTitle }}</small></h6>
    <h6><b>{{ item.title }}<b></h6>
    </a>
    </div>
    {% endfor %}
    
    
    <p><br></p>

{% endblock%}