{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary">
    	    <b>Відповідь на повідомлення:<b>
    	    <p><small>{{ oldComment.comment|raw }}</small></p>
        </h5>
    </div>
                                                                                        
    <form action="{{ path('acme_organization_discussion_theme_question_comment_answer', {'id_org': id_org,'id_dsc':id_dsc,'id_dscq':id_dscq,'id_dscc':id_dscc}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <div class="col-lg-12">
		{{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
		<div class="text-danger">{{ form_errors(form.comment) }}</div>
	    </div>
	</div>
	<div class="col-lg-12 text-right">
	    <input type="submit" value="Відправити" class="btn btn-success"/>
	</div>
    {{ form_widget(form.pid, { 'attr': {'class': 'form-control'} }) }}
    {{ form_rest(form) }}
    </form>

{% endblock%}