<hr>
<form action="{{ path('acme_form_homepage') }}" method="POST" {{ form_enctype(form) }}>
<br>
{{ form_label(form.name, 'Назва:') }}
{{ form_widget(form.name) }}
{{ form_errors(form.name) }}
<br>
{{ form_label(form.email, 'E-mail:') }}
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}
<br>


{{ form_rest(form) }}
</form>
<hr>


{% for user in result %}
    <p>
    {{ user.name }} | {{ user.email }} |
	<img src="{{ path('acme_form_file', {'id' : user.path }) }}" style="max-width:200px !important; max-height:150px !important; margin:5px; padding:0px;" abbr="{{ user.path }}">
    </p>
{% endfor %}