{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">Авторизація</h3>
	    </div>
    		<div style="height:30px; padding-top:15px; text-align:center;">
    		    {% block content %} {% if error %}
			{# {{ error.messageKey|trans(error.messageData, 'FOSUserBundle') }} #}
			{% if error.message=="Bad credentials" %} <span class="text-danger">Помилка авторизації, невірний логін або пароль!</span> {% endif %}
		    {% endif %} {% endblock %}
    		</div>
	    <div class="panel-body">
		<div class="form-group">
    		    <label for="username" class="col-lg-2 control-label">{{ 'Логін / Email'|trans }}</label>
    		    <div class="col-lg-10">
    			<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
    		    </div>
    		</div>
    		<div class="form-group">
        	    <label for="password" class="col-lg-2 control-label">{{ 'Пароль'|trans }}</label>
        	    <div class="col-lg-10">
        		<input type="password" id="password" class="form-control" name="_password" required="required" />
        		<div class="checkbox">
        		    <label>
        		        <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="width:auto;"/>
        		        <label for="remember_me">{{ 'запомнить'|trans }}</label>
        		    </label>
        		</div>
        	    </div>
    		</div>
    		<div class="form-group">
    		    <div class="col-lg-10 col-lg-offset-2 text-center">
    			<input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ ' у в і й т и '|trans }}"/>
    		    </div>
    		</div>
    		<div class="text-right"><a href="{{ path("fos_user_resetting_check_email") }}">Забыли логин или пароль?</a></div>
	    </div>
	</div>
    </div>
{% endblock %}
                