{% extends '::base.html.twig' %}

{% block body %}

<div style="width:100%; min-height:400px !important; background-color: rgba(255, 255, 255, 0.7); padding:0px 0px 25px 0px; ">

<div style="background:#fff; padding:10px 5px 20px 5px;">
<fieldset style="100%; margin:auto; padding:0px 20px 20px 20px; border-radius:6px; background:#eee;">
     <legend style="font-size:12pt; font-weight:bold; color:#37b300; padding:10px; border-radius:6px; background:#fff;">{{ name }}</legend>
     <div style="min-height:500px !important; border:1px solid #b8e356; border-radius:3px; background:#fff; padding:5px; margin-top:20px; text-align:justify;">
     {% autoescape %}
     {{ data|raw }}
     {% endautoescape %}
     </div>
</fieldset>
</div>
{% endblock %}