{% extends '::account.html.twig' %}

{% block sub %}

    <div style='width:98%; height:35px; text-align:left; border-bottom:1px dotted #37b300; margin:auto;'>
	<div style='width:30%; height:32px;  background-color: #37b300; background-image: linear-gradient(#95d788, #37b300); border-radius: 3px 3px 0px 0px; border-width: 1px; border-style: solid; border-color: #7eba7c #578e57 #447d43; box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; margin: 0px; padding: 0; font: bold 14px Arial, Helvetica; color: #ffffff; text-shadow: 0 1px 0 rgba(0,0,0,0.5);'>
	    <div style='line-height: 32px; padding-left:30px;'>Профиль пользователя</div>
	</div>                                                                                                                                                                              
	
	<div style='-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.50); -moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.50); box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.50);'><div style='padding:5px; font: normal 14px Arial, Helvetica; color: #000;'>
	    
	    <div style="width:98%; margin:20px auto; border-bottom:1px solid #37b300;">
		<a href="{{ path('profile_view') }}/{{id}}" id="main" class="activeBookmarks">Основное</a>
		<a href="{{ path('profile_contacts') }}/{{id}}" id="contacts" class="bookmarks">Контакты</a>
		<a id="education" class="bookmarks">Образование</a>
		<a id="career" class="bookmarks">Карьера</a>
		<li><a href="{{ path('profile_business') }}/{{id}}" id="business" class="bookmarks">Бізнес</a></li>
		<a id="health" class="bookmarks">Здоровье</a>
		<a id="interests" class="bookmarks">Интересы</a>
	    </div>

	    <div style="width:98%; margin:auto;">
	    </div>

	</div>

    </div>

{% endblock %}