{% extends '::account.html.twig' %}

{% block sub %}

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_profile_view', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li><a href="{{ path('acme_profile_contacts', {'id':id}) }}" id="contacts" class="bookmarks">Контакти</a></li>
	<li class="disabled"><a id="education" class="bookmarks">Освіта</a></li>
	<li class="disabled"><a id="career" class="bookmarks">Кар'єра</a></li>
	<li class="active"><a href="{{ path('acme_profile_business',{'id':id}) }}" id="business" class="bookmarks">Бізнес</a></li>
	<li class="disabled"><a id="health" class="bookmarks">Здоров'я</a></li>
	<li class="disabled"><a id="interests" class="bookmarks">Інтереси</a></li>
    </ul>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Паспорт<b></h5>
    </div>

    <form action="{{ path('acme_profile_business',{'id':id}) }}" method="post" {{ form_enctype(formPassport) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
		<label for="type" class="col-lg-2 control-label">{{ form_label(formPassport.type, 'Тип: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formPassport.type, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formPassport.type) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="passport" class="col-lg-2 control-label">{{ form_label(formPassport.passport, 'Серія та номер: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formPassport.passport, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formPassport.type) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="begin_date" class="col-lg-2 control-label">{{ form_label(formPassport.begin_date, 'Дата видачі: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formPassport.begin_date, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formPassport.begin_date) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="begin_date" class="col-lg-2 control-label">{{ form_label(formPassport.issuer, 'Ким виданий: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formPassport.issuer, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formPassport.issuer) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="end_date" class="col-lg-2 control-label">{{ form_label(formPassport.end_date, 'Дата завершення: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formPassport.end_date, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formPassport.end_date) }}</span></div>
	    </div>
	</div>
	{{ form_rest(formPassport) }}
	<div class="col-lg-10">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Ідентифікаційний<b></h5>
    </div>
    <form action="{{ path('acme_profile_business',{'id':id}) }}" method="post" {{ form_enctype(formItn) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
		<label for="type" class="col-lg-2 control-label">{{ form_label(formItn.itn, 'ІПН: ') }}</label>
		<div class="col-lg-8">{{ form_widget(formItn.itn, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formItn.itn) }}</span></div>
	    </div>
	</div>
	{{ form_rest(formItn) }}
	<div class="col-lg-10">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Банківські реквізити<b></h5>
    </div>
    <table class="table table-hover">
	<thead>
	    <tr style="background-color:#F5F5F5;">
		<th>Банк</th>
		<th>МФО</th>
		<th>Код</th>
		<th>Р/р</th>
		<th>Додаткова інформація</th>
		<th>Дія</th>
	    </tr>
	</thead>
	<tbody>
	{% for b in bank %}
	    <tr>
		<th>{{ b.title }}</th>
		<th>{{ b.mfo }}</th>
		<th>{{ b.code }}</th>
		<th>{{ b.rr }}</th>
		<th>{{ b.description }}</th>
		<th><a href="{{ path('acme_profile_business_bank_delet',{'id':id,'bankId':b.bank_id}) }}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
		
	    </tr>
	{% endfor %}
	</tbody>
    </table>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати банківські реквізити<b></h5>
    </div>
    <form action="{{ path('acme_profile_business',{'id':id}) }}" method="post" {{ form_enctype(formBank) }} class="form-horizontal">
	<div class="panel-body">
	    <div class="form-group">
		<label for="title" class="col-lg-2 control-label">{{ form_label(formBank.title, 'Назва банку:') }}</label>
		<div class="col-lg-8">{{ form_widget(formBank.title, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formBank.title) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="mfo" class="col-lg-2 control-label">{{ form_label(formBank.mfo, 'МФО:') }}</label>
		<div class="col-lg-8">{{ form_widget(formBank.mfo, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formBank.mfo) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="code" class="col-lg-2 control-label">{{ form_label(formBank.code, 'Код:') }}</label>
		<div class="col-lg-8">{{ form_widget(formBank.code, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formBank.code) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="rr" class="col-lg-2 control-label">{{ form_label(formBank.rr, 'Р/р:') }}</label>
		<div class="col-lg-8">{{ form_widget(formBank.rr, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formBank.rr) }}</span></div>
	    </div>
	</div>
	<div class="panel-body">
	    <div class="form-group">
		<label for="title" class="col-lg-2 control-label">{{ form_label(formBank.description, 'Додаткова інформація:') }}</label>
		<div class="col-lg-8">{{ form_widget(formBank.description, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="col-lg-2"><span class="text-danger">{{ form_errors(formBank.description) }}</span></div>
	    </div>
	</div>
	{{ form_rest(formBank) }}
	<div class="col-lg-10">
	    <input type="submit" value="додати" class="btn btn-success pull-right"/>
	</div>
    </form>


{% endblock %}