{% extends '::account.html.twig' %}

{% block sub %}

<link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/acmeuser/css/chosen.css') }}">
<script src="{{ asset('bundles/acmeuser/js/chosen/jquery-1.7.1.min.js') }}"></script>
<script src="{{ asset('bundles/acmeuser/js/chosen/chosen.jquery.js') }}"></script>
<script src="{{ asset('bundles/acmeuser/js/chosen/chosen.ajaxaddition.jquery.js') }}"></script>

    <ul class="nav nav-tabs">
	<li><a href="{{ path('acme_profile_view', {'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	<li class="active"><a href="{{ path('acme_profile_contacts', {'id':id}) }}" id="contacts" class="bookmarks">Контакти</a></li>
	<li class="disabled"><a id="education" class="bookmarks">Освіта</a></li>
	<li class="disabled"><a id="career" class="bookmarks">Кар'єра</a></li>
	<li><a href="{{ path('acme_profile_business',{'id':id}) }}" id="business" class="bookmarks">Бізнес</a></li>
	<li class="disabled"><a id="health" class="bookmarks">Здоров'я</a></li>
	<li class="disabled"><a id="interests" class="bookmarks">Інтереси</a></li>
    </ul>
    <br>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Адреса проживання<b></h5>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Країна</th>
                <th>Населений пункт</th>
                <th>Вулиця</th>
                <th>Будинок</th>
                <th>Квартира</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
	    {% for a in address%}
		<tr>
	            <th>{{ a.title }}</th>
	            <th>{{ a.unit_name }}</th>
	            <th>{{ a.stitle }}</th>
	            <th>{{ a.building_no }}</th>
	            <th>{{ a.address }}</th>
	            <th><a href="{{ path('acme_profile_contacts_address_delete',{'id':a.address_id})}}" onClick="return confirm('Ви впевнені що хочете видалити адресу?')"><span class="glyphicon glyphicon-remove"></span></a></th>
	        </tr>
	    {% endfor %}
	</tbody>
    </table>
    <br>
    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Додати адресу проживання<b></h5>
    </div>
    <form action="{{ path('acme_profile_contacts',{'id':id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="panel-body">
	<div class="form-group">
	    <label for="lastname" class="col-lg-2 control-label">Країна:</label>
	    <div class="col-lg-10">
		{#{{ form_widget(form.country_id, { 'attr': {'class': 'form-control'} }) }}#}
		<select id="country" name="country_id" class="form-control"><option value=""></option></select>
	    </div>
	    
	</div>
    </div>
    <div id="level2" class="panel-body">
	<div class="form-group">
	    <label for="lastname" class="col-lg-2 control-label">Населений пункт:</label>
	    <div class="col-lg-10"><select id="coatsu" name="administrative_unit_id" class="form-control"><option value=""></option></select></div>
	</div>
    </div>
    <div id="level3" class="panel-body">
	<div class="form-group">
	    <label for="lastname" class="col-lg-2 control-label">Вулиця:</label>
	    <div class="col-lg-10"><select id="street" name="street_id" class="form-control"><option value=""></option></select></div>
	</div>
    </div>
    <div id="level4" class="panel-body">
	<div class="form-group">
	    <label for="lastname" class="col-lg-2 control-label">Будинок:</label>
	    <div class="col-lg-10"><select id="building" name="building_id" class="form-control"><option value=""></option></select></div>
	</div>
    </div>
    <div id="level4" class="panel-body">
	<div class="form-group">
	    <label for="lastname" class="col-lg-2 control-label">Квартира:</label>
	    <div class="col-lg-10"><input type="text" id="flat" name="address" class="form-control" disabled></div>
	</div>
    </div>
    {{ form_rest(form) }}
    <div style="margin:10px; text-align:center;">
    <input type="submit" value="додати" class="btn btn-success pull-right"/>
    </div>

                                        
<script>
    $('#country').ajaxChosen({
	dataType: 'json',
	type: 'POST',
	url: "{{ path('acme_profile_country') }}"
    },{	loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
    );
    
    $( "#country" ).change(function() {
	countryId = $( "#country" ).val();
	//$("#settlement").prop("disabled", false);
	
	$('#coatsu').ajaxChosen(
	{
	    dataType: 'json',
	    type: 'POST',
	    url: "{{ path('acme_profile_coatsu') }}/"+countryId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
	);
    });
      
    $( "#coatsu" ).change(function() {
	coatsuId = $( "#coatsu" ).val();
	$("#street").prop("disabled", false);
	$('#street').ajaxChosen(
	{
	    dataType: 'json',
	    type: 'POST',
	    url: "{{ path('acme_profile_street') }}/"+coatsuId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}"}
	);
    });

    $( "#street" ).change(function() {
	streetId = $( "#street" ).val();
	$("#building").prop("disabled", false);
	$('#building').ajaxChosen({
	    dataType: 'json',
	    type: 'POST',
	    url:"{{ path('acme_profile_building') }}/"+streetId
	},{ loadingImg: "{{ asset('bundles/acmeuser/images/loading.gif') }}" }
	);
    });
    $( "#street" ).change(function() {
	$("#flat").prop("disabled", false);
    });

</script>


                                         

<!--
<br><br>
<form action="{{ path('profile_contacts') }}/{{id}}" method="post" {{ form_enctype(form) }}>
<table width="100%">
<tr id='country'><td width="20%">Страна: </td><td><div id="CountryID"></div></td></tr>
<tr id='unit' valign="top" style='display:none;'><td width="20%"><div style="padding-top:9px;">Населенній пункт: </div></td><td><div id="UnitID"></div></td></tr>
<tr id='street' style='display:none;'><td width="20%">Улица: </td><td><div id="StreetID"></div></td></tr>
<tr id='building' style='display:none;'><td width="20%">Дом: </td><td><div id="BuildingID"></div></td></tr>
<tr id='zip' style='display:none;'><td width="20%">Почтовый индекс: </td><td><div id="ZIP"></div></td></tr>
<tr id='address' style='display:none;'><td width="20%">Квартира</td><td><input type="text" name="address" placeholder=" -- Квартира -- "></td></tr>
</table>
{{ form_rest(form) }}
<div style="margin:10px; text-align:center;">
<input type="submit" value="сохранить" style="font-weight:bold; color:#37b300; letter-spacing: 3px; padding: 5px 50px 5px 50px;"/>
</div>
</form>
-->

{% endblock %}