{% extends '::base.html.twig' %}

{% block body %}
	<div class="entryForm">
	    <div class="entryFormHeader">Форма реєстрації2</div>
	    <form action="{{ path('AcmeTaskBundle_task_registration') }}" method="post" {{ form_enctype(form) }}>

		{% block field_row %}
		{% spaceless %}
		<div>
		    {{ form_label(form.surname, 'Прізвище: ') }}
		    {{ form_widget(form.surname, { 'attr': {'class': 'task_field'} }) }}
		    {{ form_errors(form.surname) }}
		</div>
		<div>
		    {{ form_label(form.name, 'Ім\'я: ') }}
		    {{ form_widget(form.name, { 'attr': {'class': 'task_field'} }) }}
		    {{ form_errors(form.name) }}
		</div>
		<div>
		    {{ form_label(form.email, 'E-mail: ') }}
		    {{ form_widget(form.email, { 'attr': {'class': 'task_field'} }) }}
		    {{ form_errors(form.email) }}
		</div>
		<div>
		    {{ form_label(form.passwd, 'Пароль: ') }}
		    {{ form_widget(form.passwd, { 'attr': {'class': 'task_field'} }) }}
		    {{ form_errors(form.passwd) }}
		</div>
		{% endspaceless %}
		{% endblock field_row %}
            
                {{ form_rest(form) }}
                
                <input type="submit" value="зареєструватись" />
            </form>
        </div>
{% endblock %}
                