{% extends '::account.html.twig' %}

{% block sub %}

    <style>
     .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 100px; margin:auto;}
    </style>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Користувачі та обговорення<b></h5>
    </div>
                    
    {% for usr in users %}
	<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
	    <a href="{{ path('acme_account_homepage', {'id':usr.id}) }}" class="thumbnail small" style="height:200px;">
		<br>
		<p>{{ usr.lastname }} {{ usr.firstname }}</p>
		<div style="height:100px; margin:10px 0px 5px 0px;">
		    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
		</div>
		<h6>
		    <p>
			<small>
			    {{ usr.title }}, 
			    {{ usr.unit_name }}
			    {# {{ usr.stitle }} {{ usr.building_no }} #} 
			    {# {{ usr.address }} #}
			</small>
		    </p>
		</h6>
	    </a>
	</div>
    {% endfor %}
    <p><br></p>

{% endblock%}