{% extends '::account.html.twig' %}

{% block sub %}

	<ul class="nav nav-tabs">
	    <li class="active"><a href="{{ path('acme_profile_view',{'id':id}) }}" id="main" class="activeBookmarks">Профіль</a></li>
	    <li><a href="{{ path('acme_profile_contacts',{'id':id}) }}" id="contacts" class="bookmarks">Контакти</a></li>
	    <li class="disabled"><a id="education" class="bookmarks">Освіта</a></li>
	    <li class="disabled"><a id="career" class="bookmarks">Кар'єра</a></li>
	    <li><a href="{{ path('acme_profile_business',{'id':id}) }}" id="business" class="bookmarks">Бізнес</a></li>
	    <li class="disabled"><a id="health" class="bookmarks">Здоров'я</a></li>
	    <li class="disabled"><a id="interests" class="bookmarks">Інтереси</a></li>
	</ul>
	<br>
	<form action="{{ path('profile_view') }}/{{id}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <div class="panel-body">
    		<div class="form-group">
            	    <label for="lastname" class="col-lg-3 control-label">{{ form_label(form.lastname, 'Прізвище: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.lastname) }}</span></div>
        	</div>
    		<div class="form-group">
            	    <label for="firstname" class="col-lg-3 control-label">{{ form_label(form.firstname, 'Ім\'я: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.firstname) }}</span></div>
        	</div>
    		<div class="form-group">
            	    <label for="middlename" class="col-lg-3 control-label">{{ form_label(form.middlename, 'По батькові: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.middlename, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.middlename) }}</span></div>
        	</div>
<!--
    		<div class="form-group">
            	    <label for="prefix" class="col-lg-3 control-label">{{ form_label(form.prefix, 'Prefix: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.prefix, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.prefix) }}</span></div>
        	</div>
		<div class="form-group">
            	    <label for="title" class="col-lg-3 control-label">{{ form_label(form.title, 'title: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
        	</div>
    		<div class="form-group">
            	    <label for="suffix" class="col-lg-3 control-label">{{ form_label(form.suffix, 'suffix: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.suffix, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.suffix) }}</span></div>
        	</div>
    		<div class="form-group">
            	    <label for="preferredname" class="col-lg-3 control-label">{{ form_label(form.preferredname, 'preferredname: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.preferredname, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.preferredname) }}</span></div>
        	</div>
-->
    		<div class="form-group">
            	    <label for="sex" class="col-lg-3 control-label">{{ form_label(form.sex, 'Стать: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.sex, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.sex) }}</span></div>
        	</div>
    		<div class="form-group">
            	    <label for="birthday" class="col-lg-3 control-label">{{ form_label(form.birthday, 'Дата народження: ') }}</label>
            	    <div class="col-lg-6">{{ form_widget(form.birthday, { 'attr': {'class': 'form-control'} }) }}</div>
            	    <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.birthday) }}</span></div>
        	</div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        {{ form_rest(form) }}
                        <input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ ' З Б Е Р Е Г Т И '|trans }}"/>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}