{% include '::base.html.twig' %}

{% block fos_user_content %}
    <div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">ВІДНОВЛЕННЯ ПАРОЛЮ</h3>
	    </div>
	    <div class="panel-body">
		<div class="form-group text-center">
		    <label for="username" class="col-lg-10 control-label" style="margin:50px;">{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</label>
		</div>
	    </div>
	    <div class="panel-body text-center">
		<a href="{{ path('AcmeTaskBundle_task') }}" class="btn btn-default">перейти на головну сторінку</a>
	    </div>
	</div>
    </div>
{% endblock %}