<div class="container">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"  class="form-horizontal">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">Відновлення паролю</h3>
	    </div>

	    <div style="text-align:center; padding:20px;">Введите e-mail адрес, указанный при регистрации, на него будет выслана информация по восстановлению пароля.</div>

	    <div class="panel-body">
		<div class="form-group">
		    <label for="username" class="col-lg-2 control-label">{{ 'E-mail'|trans }}</label>
		    <div class="col-lg-8">
			<input type="text" id="username" name="username" class="form-control">
		    </div>
		    <div class="col-lg-2">
			{% if invalid_username is defined %}
			    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
			{% endif %}
		    </div>
		</div>
	    </div>
	    
	    <div style="text-align:center; margin-bottom:15px;">
		<input type="submit" class="btn btn-default" value="{{ ' в і д п р а в и т и '|trans }}" style="padding: 10px 30px 10px 30px;"/>
	    </div>
	</div>
    </form>
</div>
