<title>Про нас</title>

<p style="text-align:center"><strong style="font-size:x-large">Новое измерение электронной коммерческой сети</strong></p>
<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
<div style="width:75%; margin:auto; text-align: right;">
<p><em>&nbsp;«Мы не создаем спрос или предложение,</em></p>
<p><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы создаем новые возможности,</em></p>
<p><em>&nbsp;&nbsp;&nbsp; Мы создаем рынок из рук в руки без посредников…»</em></p>
<p><em>&nbsp;</em></p>
</div>
<div style="width:75%; margin:auto; text-align: justify;">
<ul>
<li>Знаете ли Вы на сколько поднимается цена товара проходя путь от производителя к потребителю?</li>
<li>Какое соотношение времени пребывания товара на складах и в дороге?</li>
<li>Как заставить производителя производить только качественный продукт?</li>
<li>Мы создали сеть кооперации, которая позволяет напрямую, без посредников, соединить производителя и покупателя в независимости от объемов выпускаемой/потребляемой продукции.<br>Тем самым дать возможность производителю зарабатывать больше, а потребителю – платить меньше.</li>
<li>Теперь не только производители, но и покупатели могут размещать о себе информацию и свои заявки на товар/услугу.</li>
<li>Мы предлагаем использование складов не для хранения продукции, а только для перераспределения.</li>
<li>Товары находятся 98% времени в дороге и только 2% на складе.</li>
<li>Мнение потребителя о товаре и производителе увидит каждый, что исключит возможность размещения некачественного товара на сайте.</li>
</ul>
</div>
<p></p>
<div style="width:75%; margin:auto; text-align: right;">
<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
<strong>
<p>Нет необходимости просматривать разные сайты в поисках той или иной продукции &nbsp;</p>
<p>у нас Вы найдете&nbsp;<span style="color:#33cc00;font-size:x-large">ВСЕ!</span></p>
</strong>
</div>
<p><em>&nbsp;</em></p>
<p><em>&nbsp;</em></p>
