{% extends '::base.html.twig' %}                                                                                                                                                                           
                                                                                                                                                                                                           
{% block body %}
<!--
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    	    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    		<a href="{{ path('fos_user_security_logout') }}">
        	    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    		</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
-->

    {% for type, messages in app.session.flashbag.all() %}
	{% for key, message in messages %}
	    <div class="flash-{{ type }}">
    		{{ message|trans({}, 'FOSUserBundle') }}
	    </div>
	{% endfor %}
    {% endfor %}

    <div class="entryForm">
	<div class="entryFormHeader">Форма реєстрації</div>
    	    {% block fos_user_content %}
<!--    		{% render controller("FOSUserBundle::login") %}-->
	    {% endblock fos_user_content %}
    	</div>
    </div>

{% endblock %}