{% extends '::base.html.twig' %}

{% block body %}

    <style>
     .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 100px; margin:auto;}
    </style>

    <div class="container">
	<ol class="breadcrumb">
	    <li><a href="{{ path('AcmeTaskBundle_task') }}">Головна</a></li>
	    <li><a href="{{ path('acme_goods_proposal') }}">Товари</a></li>
	    <li><a href="{{ path('acme_goods_proposal') }}">Пропозиція товарів</a></li>
	    {% for p in path|reverse %}
	    <li><a href="{{ path('acme_goods_proposal', {'id' : p.id_cat}) }}">{{ p.ua }}</a></li>
	    {% endfor%}
	</ol>
	
	<div class="row">
	    <aside class="col-sm-3 sidebar sidebar-left">
		<ul class="nav nav-pills nav-stacked">
		    {% for cat in catalog %}
		    <li><a href="{{ path('acme_goods_proposal', {'id' : cat.idcat}) }}">{{ cat.ua | replace({'_': ' '}) }}</a></li>
		    {% endfor %}
		</ul>
	    </aside>
	    <aside class="col-sm-9 sidebar sidebar-right">
		<ul class="nav nav-tabs">
		    <li class="active"><a href="{{ path('acme_goods_proposal', {'id': id}) }}" class='thisChecked'>Пропоную товари</a></li>
		    <li><a href="{{ path('acme_goods_offer', {'id': id}) }}" class='myButton'>Шукаю товари</a></li>
		</ul>
		<p><br></p>
		<form action="{{ path('acme_goods_proposal_search') }}" method="POST" class="form-horizontal small" role="search">
		    <div class="input-group">
		        <input type="text" name="search" value="{{ search }}" class="form-control" placeholder="Search">
		        <div class="input-group-btn">
		            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		        </div>
		    </div>
		</form>
		<p><br><br></p>
		{% if goods==NULL %}
    		    {% for item in catalog %}
    			<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
    			    <a href="{{ path('acme_goods_proposal',{'id':item.idcat}) }}" class="thumbnail small" style="height:170px;">
    				    <div style="height:100px; margin:10px 0px 5px 0px;">
    		    			{% if item.img!=NULL %}
    		    			    <img class="img-responsive" src="{{ item.img }}" alt="">
    		    			{% else %}
    		    			    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    		    			{% endif %}
    		    		    </div>
    				    <p>{{ item.ua | replace({'_': ' '}) }}</p>
    			    </a>
    			</div>
    		    {% endfor %}
		{% else %}
    		    {% for item in goods %}
    			<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
			    <div>
				<a href="{{ path('acme_account_homepage', {'id':item.id_u} ) }}" class="small pull-right" style="margin-right:5px;">
    				    <h8><small>{{ item.lastname}} {{ item.firstname }}</small></h8>
    				</a>
    			    </div>
    			    <a href="#" class="thumbnail small" style="height:200px;">
    				<div style="height:160px;">
    				    <div style="height:100px; margin:10px 0px 5px 0px;">
    					{# {% if item.photo!=NULL %} #}
    					    <img class="img-responsive" src="{# {{ item.photo }} #}" alt="">
    					{# {% else %} #}
    					    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    					{# {% endif %} #}
    				    </div>
    				    <div>
    					<h8>
    					    <b>
    						{{ item.price }}
    						{% if item.price_currency == 1 %} грн.
    						{% elseif item.price_currency == 2 %} usd.
    						{% endif %}
    					    <b>
    					</h8>
    				    </div>
    				    <h8><small>{{ item.title }}</small></h8>
    				</div>
    			    </a>
    			</div>
    		    {% endfor %}
    		{% endif %}
    		<p><br></p>
	    </aside>
	</div>
    </div>

{% endblock%}