{% extends '::organization.html.twig' %}

{% block sub %}
    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Форма створення пропозиції товару<b></h5>
    </div>
                                                                                        
    <form action="{{ path('acme_organization_goods_proposal_create', {'id_org': id_org}) }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="ua_code" class="col-lg-2 control-label">{{ form_label(form.ua_code, 'Код товару згідно УКТ ЗЕД:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.ua_code, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.ua_code) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="category" class="col-lg-2 control-label">{{ form_label(form.category, 'Категорія товарів:') }}</label>
	    <div class="col-lg-10"><div id='valueCATEGORY'></div></div>
	</div>
	<div class="panel-body">
	    <label for="avail" class="col-lg-2 control-label">{{ form_label(form.avail, 'Наявність:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.avail, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.avail) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="volume" class="col-lg-2 control-label">{{ form_label(form.volume, 'Об\'єм:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.volume, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.volume) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="price" class="col-lg-2 control-label">{{ form_label(form.price, 'Ціна:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.price) }}
		    {{ form_errors(form.price_currency) }}
		    {{ form_errors(form.price_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="return" class="col-lg-2 control-label">{{ form_label(form.return, 'Повернення:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.return, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.return_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.return_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.return) }}
		    {{ form_errors(form.price_currency) }}
		    {{ form_errors(form.price_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="contribution" class="col-lg-2 control-label">{{ form_label(form.contribution, 'Пайовий внесок:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.contribution, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.contribution_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.contribution_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.contribution) }}
		    {{ form_errors(form.contribution_currency) }}
		    {{ form_errors(form.contribution_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="contribution_account" class="col-lg-2 control-label">{{ form_label(form.contribution_account, 'Рахунок пайового внеску:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.contribution_account, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.contribution_account) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="descriptions" class="col-lg-2 control-label">{{ form_label(form.descriptions, 'Опис:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.descriptions, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.descriptions) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.country, 'Країна:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.country) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.region, 'Область:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.region, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.region) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.district, 'Район:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.district, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.district) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.settlement, 'Населений пункт:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.settlement, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.settlement) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.filter, 'Додаткові фільтри:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.filter, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.filter) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.brand, 'Власне вир-во | Бренд:') }}</label>
	    <div class="col-lg-10">
		<span style='display:inline-block; width:250px;'>
		    <input type="radio" name="brand" value="1" id="brandOGFoff" checked="checked" onClick="hideDivOnce('brandOGF');">Власне вир-во
		</span>
		<span style='display:inline-block; width:250px;'>
		    <input type="radio" name="brand" value="2" id="brandOGFon" onClick="showDivOnce('brandOGF');">Бренд
		</span>
		<div id='brandOGF' style='margin-top:20px; display:none;'>
		    <div class="panel-body">
			<label for="addition" class="col-lg-2 control-label">{{ form_label(form.brand, 'Бренд:') }}</label>
			<div class="col-lg-8">{{ form_widget(form.brand, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.brand) }}</span></div>
		    </div>
		    <div class="panel-body">
			<label for="addition" class="col-lg-2 control-label">{{ form_label(form.brand_country, 'Країна виробник:') }}</label>
			<div class="col-lg-8">{{ form_widget(form.brand_country, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.brand_country) }}</span></div>
		    </div>
		    <div class="panel-body">
			<label for="addition" class="col-lg-2 control-label">{{ form_label(form.goods_code, 'Код товару:') }}</label>
			<div class="col-lg-8">{{ form_widget(form.goods_code, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.goods_code) }}</span></div>
		    </div>
		    <div class="panel-body">
			<label for="addition" class="col-lg-2 control-label">{{ form_label(form.goods_url, 'Посилання:') }}</label>
			<div class="col-lg-8">{{ form_widget(form.goods_url, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.goods_url) }}</span></div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.frequancy_volume, "Об'єм та переодичність:") }}</label>
	    <div class="col-lg-10">
		<span style='display:inline-block; width:250px;'>
		    <input type="radio" name="period" value="1" id="periodOnceLGF" checked="checked" onClick="hideDiv('onceLGF','periodLGF');">Разова закупка
		</span>
		<span style='display:inline-block; width:250px;'>
		    <input type="radio" name="period" value="2" id="'periodPeriodLGF" onClick="showDiv('onceLGF','periodLGF');">Об'єм та переодичність
		</span>

		<div id='onceLGF' style='margin-top:20px;'>
		    <div class="panel-body">
			<label for="addition" class="col-lg-2 control-label">{{ form_label(form.single, 'Доступна кількість:') }}</label>
			<div class="col-lg-8">{{ form_widget(form.single, { 'attr': {'class': 'form-control'} }) }}</div>
			<div class="col-lg-2"><span class="text-danger">{{ form_errors(form.single) }}</span></div>
		    </div>
		</div>
		<div id='periodLGF' style='margin-top:20px; display:none;'>
		    {% for m in month %}
			<div class="col-sm-1 text-center">{{ m }}</div>
		    {% endfor %}
		    {% for m in month %}
			<div class="col-sm-1"><input type='text' size="4" class="form-control input-sm"></div>
		    {% endfor %}
		    {% for m in month %}
			<div class="col-sm-1"><input type='text' size='4' class="form-control input-sm"></div>
		    {% endfor %}
		    {% for m in month %}
			<div class="col-sm-1 text-center">по днях</div>
		    {% endfor %}
		</div>
	    </div>
	</div>
	<div class="body">
	    <label for="addition" class="col-lg-2 control-label">{{ form_label(form.frequancy_volume, "Доставка товару") }}</label>
	    <div class="col-lg-10">
		<div class="body">
		    <div class="col-lg-10">
			<div>
			    <input type="checkbox" name="pickupLGF" value="pickupLGF" id="pickupLGF" onClick="checkboxStatus('pickupLGF');">{{ form_label(form.pickup, 'Самовивіз') }}
			</div>
			<div id="pickupLGFval" style="display:none;">
			    <div class="col-lg-12">
				{{ form_widget(form.pickup, { 'attr': {'class': 'form-control'} }) }}
				<span class="text-danger">{{ form_errors(form.pickup) }}</span>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-10">
			<div>
			    <input type="checkbox" id="deliveryLGF" onClick="checkboxStatus('deliveryLGF');">Кур'єрська служба
			</div>
			<div id='deliveryLGFval' style='display:none;'>
			    {{ form_widget(form.courier) }}
			</div>
		    </div>
		    <div class="col-lg-10">
			<div>
			    <input type="checkbox" id="transportationLGF" onClick="checkboxStatus('transportationLGF');">{{ form_label(form.transportation, 'Доставка товару') }}
			</div>
			<div id='transportationLGFval' class="body" style='display:none;'>
			    
			    <div class="col-lg-12">
				{{ form_widget(form.transportation, { 'attr': {'class': 'form-control'} }) }}
				<span class="text-danger">{{ form_errors(form.transportation) }}</span>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="text-right">
	    <input type="submit" value="SAVE" class="btn btn-success"/>
	</div>
    {{ form_rest(form) }}
    </form>

<!-- JAVASCRIPT -->

<script src='http://code.jquery.com/jquery-2.1.0.min.js' charset='utf-8'></script>
<script>
    viewNext(0,0);
    function viewNext(IDCAT,STEP){
	$.ajax({
	    url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=viewCategory&id_cat='+IDCAT+'&step='+STEP,
	    success: function(data) {
		if(STEP == 0){ $('#valueCATEGORY').html(data); }
		if(STEP == 1){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+data); }
		if(STEP == 2){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+data); }
		if(STEP == 3){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+data); }
		if(STEP == 4){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+data); }
		if(STEP == 5){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+data); }
		if(STEP == 6){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_6\">'+$('#step_6').html()+'</div>'+data); }
		}
	    });
	}
    function setIdCategory(IdCat){
	if (confirm('Обрати категорію?') == true){
	    $.ajax({
		url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=setID&id_cat='+IdCat,
		success: function(data) {
		    $('#valueCATEGORY').html(data);
		    $('#form_category').val(IdCat);
		    }
		});
	    }
	}
    function changeCategory(){
	viewNext(0,0);
	$('#form_category').val('');
	}

    function showDivOnce(ID){
	$('#'+ID).show('slow');
	}
    function hideDivOnce(ID){
	$('#'+ID).hide('slow');
	}
    function showDiv(ID1,ID2){
	$('#'+ID1).hide('slow');
	$('#'+ID2).show('slow');
	}
    function hideDiv(ID1,ID2){
	$('#'+ID2).hide('slow');
	$('#'+ID1).show('slow');
	}
    function show_hideDiv(ID){
	if( $('#'+ID).is(':visible') ){
	    $('#'+ID).hide('slow');
	    }
	else{
	    $('#'+ID).show('slow');
	    }
	}
    function checkboxStatus(checkboxID){
	if ($('#'+checkboxID).is(":checked")){
		$('#'+checkboxID+'val').show('slow');
	    }
	else {
	    $('#'+checkboxID+'val').hide('slow');
	    }
	}
</script>

{% endblock%}