{% extends '::account.html.twig' %}

{% block sub %}

    <style>
     .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 100px; margin:auto;}
    </style>

    <ul class="nav nav-tabs">
	<li class="active"><a href="{{ path('acme_users_goods_proposal',{'id':id}) }}" class='thisChecked'>Мої пропозиції товарів</a></li>
	<li><a href="{{ path('acme_goods_offer') }}" class='myButton'>Мої потреби товарів</a></li>
    </ul>
    <br>
    <p>
	<a href="{{ path('acme_goods_proposal_create', {'id':id}) }}" class="btn-sm btn-success pull-right" style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Додати пропозицію</a>
    </p>
    <span class="clearfix"></span>
    <br>
    {% for item in goods %}
	<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
    	    <a href="#" class="thumbnail small" style="height:170px;">
    		<div style="height:100px; margin:10px 0px 5px 0px;">
    		    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    		</div>
    		<p>{{ item.title }}</p>
    	    </a>
    	</div>
    {% endfor %}
    <p><br></p>

{% endblock%}