<hr>
<h1>Upload File</h1>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br>
    <input type="submit" value="Upload Document" />
</form>
<hr>

{% for file in files %}
    <div style="width:210px; height:200px; background:#000; color:#fff; display: inline-block; text-align:center; font-weight:bold; margin:3px; padding:0px;">
    <img src="{{ path('acme_file_view_image', {'id' : file.id }) }}" style="max-width:200px !important; max-height:150px !important; margin:5px; padding:0px;">
    <div>{{ file.name }}</div>
    </div>
{% endfor %}

<hr>


<iframe src="{{ path('acme_file_view_document') }}" width="100%" height="600px"></iframe>