<!DOCTYPE html>                                                                                                                                                                                            
<html>                                                                                                                                                                                                     
<head>                                                                                                                                                                                                     
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />                                                                                                                                      
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />                                                                                                                                  
<title>{% block title %}eMarket{% endblock %}</title>                                                                                                                                                      
 </head>

	<a href="{{ path('acme_news_new') }}">Create Post</a></li> 

{%for item in news%}
<p><b>{{ item.idnews}}.  Title:</b> {{ item.title}}.</p>
<a href="{{ path('acme_news_view', {'id':item.idnews})  }}">View Post</a></li>
<a href="{{ path('acme_news_edit', {'id':item.idnews})  }}">Edit Post</a></li>
{%endfor%}


{#
<p><b>Description: </b>{{ item.fulldescription }}.</p>
<p><b>Created:</b> {{item.creation|date('d-m-Y')}}</p>
#}