 <form action="{{ path('acme_news_new') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">                         
  <div class="panel-body">                                                                          
   <label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Title') }}</label>                                      
    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>                                      
     <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>                                         
                                                                                           
   <label for="fulldescription" class="col-lg-3 control-label">{{ form_label(form.fulldescription, 'Description') }}</label>                         
     <div class="col-lg-9">{{ form_widget(form.fulldescription, { 'attr': {'class': 'form-control'} }) }}</div>                                 
      <div class="col-lg-3"><span class="text-danger">{{ form_errors(form.fulldescription) }}</span></div>                                    
       </div>                                                                                   
                                                                                                                                                                                      
     <div class="text-right">                    
     <input type="submit" value="SAVE" class="btn btn-success"/>              
     </div>                       
    {{ form_rest(form) }}                     
 </form>       
    