{% extends '::account.html.twig' %}

{% block sub %}

    <link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>

    <div class="page-header" style="margin-top:15px;">
        <h5 class="text-primary"><b>Форма створення пропозиції товару<b></h5>
    </div>
                                                                            
    <form action="{{ path('acme_goods_proposal_create') }}" method="POST" {{ form_enctype(form) }}  class="form-horizontal small">
	<div class="panel-body">
	    <label for="title" class="col-lg-2 control-label">{{ form_label(form.title, 'Назва:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.title) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="ua_code" class="col-lg-2 control-label">{{ form_label(form.ua_code, 'Код товару згідно УКТ ЗЕД:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.ua_code, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.ua_code) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="category" class="col-lg-2 control-label">{{ form_label(form.category, 'Категорія товарів:') }}</label>
	    <div class="col-lg-10"><div id='valueCATEGORY'></div></div>
	</div>
	<div class="panel-body">
	    <label for="avail" class="col-lg-2 control-label">{{ form_label(form.avail, 'Наявність:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.avail, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.avail) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="volume" class="col-lg-2 control-label">{{ form_label(form.volume, 'Об\'єм:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.volume, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.volume) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="price_min" class="col-lg-2 control-label">{{ form_label(form.price_min, 'Ціна min:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.price_min, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.price_min) }}
		    {{ form_errors(form.price_currency) }}
		    {{ form_errors(form.price_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="price_max" class="col-lg-2 control-label">{{ form_label(form.price_max, 'Ціна max:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.price_max, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.price_max) }}
		    {{ form_errors(form.price_currency) }}
		    {{ form_errors(form.price_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="return" class="col-lg-2 control-label">{{ form_label(form.return, 'Повернення:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.return, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.price_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.return) }}
		    {{ form_errors(form.price_currency) }}
		    {{ form_errors(form.price_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="contribution" class="col-lg-2 control-label">{{ form_label(form.contribution, 'Пайовий внесок:') }}</label>
	    <div class="col-lg-4">{{ form_widget(form.contribution, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.contribution_currency, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">{{ form_widget(form.contribution_unit, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2">
		<span class="text-danger">
		    {{ form_errors(form.contribution) }}
		    {{ form_errors(form.contribution_currency) }}
		    {{ form_errors(form.contribution_unit) }}
		</span>
	    </div>
	</div>
	<div class="panel-body">
	    <label for="contribution_account" class="col-lg-2 control-label">{{ form_label(form.contribution_account, 'Рахунок пайового внеску:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.contribution_account, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.contribution_account) }}</span></div>
	</div>
	<div class="panel-body">
	    <label for="descriptions" class="col-lg-2 control-label">{{ form_label(form.descriptions, 'Опис:') }}</label>
	    <div class="col-lg-8">{{ form_widget(form.descriptions, { 'attr': {'class': 'form-control'} }) }}</div>
	    <div class="col-lg-2"><span class="text-danger">{{ form_errors(form.descriptions) }}</span></div>
	</div>

	<div style="text-align:right; padding:5px;">
	    {# {{ form_widget(form.view, { 'label': ' Зберегти і перейти до перегляду ', 'class': 'button' }) }} #}
	    {# {{ form_widget(form.next, { 'label': ' Зберегти і продовжити ' }) }} #}
	</div>
    {{ form_rest(form) }}
    </form>


<!-- JAVASCRIPT -->

<script src='http://code.jquery.com/jquery-2.1.0.min.js' charset='utf-8'></script>
<script>
    viewNext(0,0);
    function viewNext(IDCAT,STEP){
	$.ajax({
	    url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=viewCategory&id_cat='+IDCAT+'&step='+STEP,
	    success: function(data) {
		if(STEP == 0){ $('#valueCATEGORY').html(data); }
		if(STEP == 1){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+data); }
		if(STEP == 2){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+data); }
		if(STEP == 3){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+data); }
		if(STEP == 4){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+data); }
		if(STEP == 5){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+data); }
		if(STEP == 6){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_6\">'+$('#step_6').html()+'</div>'+data); }
		}
	    });
	}
    function setIdCategory(IdCat){
	if (confirm('Обрати категорію?') == true){
	    $.ajax({
		url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=setID&id_cat='+IdCat,
		success: function(data) {
		    $('#valueCATEGORY').html(data);
		    $('#form_category').val(IdCat);
		    }
		});
	    }
	}
    function changeCategory(){
	viewNext(0,0);
	$('#form_category').val('');
	}

</script>

{% endblock%}