{% extends '::base.html.twig' %}

{% block body %}

    <style>
     .img-responsive, .thumbnail>img, .thumbnail a>img {width:auto; max-height: 100px; margin:auto;}
    </style>

    <div class="container">
	<ol class="breadcrumb">
	    <li><a href="{{ path('AcmeTaskBundle_task') }}">Головна</a></li>
	    <li><a href="{{ path('acme_goods_proposal') }}">Товари</a></li>
	    <li><a href="{{ path('acme_goods_offer') }}">Пошук товарів</a></li>
	    {% for p in path|reverse %}
	    <li><a href="{{ path('acme_goods_offer', {'id' : p.id_cat}) }}">{{ p.ua }}</a></li>
	    {% endfor%}
	</ol>
	
	<div class="row">
	    <aside class="col-sm-3 sidebar sidebar-left">
		<ul class="nav nav-pills nav-stacked">
		    {% for cat in catalog %}
		    <li><a href="{{ path('acme_goods_offer', {'id' : cat.idcat}) }}">{{ cat.ua | replace({'_': ' '}) }}</a></li>
		    {% endfor %}
		</ul>
	    </aside>
	    <aside class="col-sm-9 sidebar sidebar-right">
		<ul class="nav nav-tabs">
		    <li><a href="{{ path('acme_goods_proposal', {'id':id}) }}" class='thisChecked'>Пропоную товари</a></li>
		    <li class="active"><a href="{{ path('acme_goods_offer', {'id':id}) }}" class='myButton'>Шукаю товари</a></li>
		</ul>
		<p><br></p>
		{% if goods==NULL %}
    		    {% for item in catalog %}
    			<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
    			    <a href="{{ path('acme_goods_proposal',{'id':item.idcat}) }}" class="thumbnail small" style="height:170px;">
    				    <div style="height:100px; margin:10px 0px 5px 0px;">
    		    			{% if item.img!=NULL %}
    		    			    <img class="img-responsive" src="{{ item.img }}" alt="">
    		    			{% else %}
    		    			    <img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    		    			{% endif %}
    		    		    </div>
    				    <p>{{ item.ua | replace({'_': ' '}) }}</p>
    			    </a>
    			</div>
    		    {% endfor %}
		{% else %}
    		    {% for item in goods %}
    			<div class="col-md-3 col-sm-3 text-center" style="margin-bottom:5px;">
    			    <a href="#" class="thumbnail small" style="height:170px;">
    				<div style="height:100px; margin:10px 0px 5px 0px;">
    					<img class="img-responsive" src="{{ asset('bundles/acmegoods/images/no_image.jpeg') }}" alt="">
    				</div>
    				<p>{{ item.title }}</p>
    			    </a>
    			</div>
    		    {% endfor %}
    		{% endif %}
    		<p><br></p>
	    </aside>
	</div>
    </div>

{% endblock%}