{% extends '::base.html.twig' %}

{% block body %}

<link rel='stylesheet' type='text/css' media='screen' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/goods.css' charset='utf-8'>
<style>
    .goods a{
     font-size:10pt;
     text-decoration:none;
     сursor:pointer;
     color:#666;
     text-shadow:0px 1px 0px #86ae47;
     }
    .goods tr{ vertical-align:top; }
    .goods td{ width:25%; }
</style>

<div style="background:#fff; padding:10px 5px 20px 5px;" class="goods">
<fieldset style="padding:0px 20px 20px 20px; border-radius:6px; background:#eee;">
<div style="text-align:right;"><a href="{{ path('acme_goods_offer') }}">ПОВЕРНУТИСЬ ДО ПЕРЕГЛЯДУ ПОШУКУ ПРОПОЗИЦІЙ</a></div>
<legend style="font-size:12pt; font-weight:bold; color:#37b300; padding:10px; border-radius:6px; background:#fff;">ТОВАРИ</legend>

<form style="background:#fff; padding:10px 5px 20px 0px; border:1px solid #cfcfcf; border-radius:3px;">

    <table border=1 style="width:99%; padding:0px; margin:10px;">
	<tr>
	    <td colspan="1">{{ form_label(form.title, 'Назва:') }}</td>
	    <td colspan="3">{{ form_widget(form.title) }}{{ form_errors(form.title) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.ua_code, 'Код товару згідно УКТ ЗЕД:') }}</td>
	    <td colspan="3">{{ form_widget(form.ua_code) }}{{ form_errors(form.ua_code) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.category, 'Категорія товарів:') }}</td>
	    <td colspan="3">
		{{ form_widget(form.category, { 'attr': {'id': 'postIdCategory'} }) }}{{ form_errors(form.category) }}
		<div id='valueCATEGORY'></div>
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.avail, 'Наявність:') }}</td>
	    <td colspan="3">{{ form_widget(form.avail) }}{{ form_errors(form.avail) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.volume, 'Тип:') }}</td>
	    <td colspan="3">{{ form_widget(form.volume) }}{{ form_errors(form.volume) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.price_min, 'Ціна min:') }}</td>
	    <td colspan="3">
		{{ form_widget(form.price_min) }}{{ form_errors(form.price_min) }}
		{{ form_widget(form.price_currency) }}{{ form_errors(form.price_currency) }}
		{{ form_widget(form.price_unit) }}{{ form_errors(form.price_unit) }}
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.price_max, 'Ціна max:') }}</td>
	    <td colspan="3">
		{{ form_widget(form.price_max) }}{{ form_errors(form.price_max) }}
		{{ form_widget(form.price_currency) }}{{ form_errors(form.price_currency) }}
		{{ form_widget(form.price_unit) }}{{ form_errors(form.price_unit) }}
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.return, 'Повернення:') }}</td>
	    <td colspan="3">
		{{ form_widget(form.return) }}{{ form_errors(form.return) }}
		{{ form_widget(form.return_currency) }}{{ form_errors(form.return_currency) }}
		{{ form_widget(form.return_unit) }}{{ form_errors(form.return_unit) }}
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.contribution, 'Пайовий внесок:') }}</td>
	    <td colspan="3">
		{{ form_widget(form.contribution) }}{{ form_errors(form.contribution) }}
		{{ form_widget(form.contribution_currency) }}{{ form_errors(form.contribution_currency) }}
		{{ form_widget(form.contribution_unit) }}{{ form_errors(form.contribution_unit) }}
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.contribution_account, 'Рахунок пайового внеску') }}</td>
	    <td colspan="3">{{ form_widget(form.contribution_account, { 'attr': {'style': 'width:98.6%', 'rows': '2'} }) }}{{ form_errors(form.contribution_account) }}</td>
	</tr>
	<tr>
	    <td colspan="2">
		<fieldset>
		<legend>{{ form_label(form.descriptions, 'Опис') }}</legend>
		{{ form_widget(form.descriptions, { 'attr': {'style': "width:99%",'rows': '10'} }) }}
		{{ form_errors(form.descriptions) }}
		</fieldset>
	    </td>
	    <td colspan="2">
		<fieldset>
		<legend>{{ form_label(form.photo, 'Фото:') }}</legend>
		{{ form_widget(form.photo) }}{{ form_errors(form.photo) }}
		</fieldset>
		<fieldset>
		<legend>{{ form_label(form.addition, 'Додаткові файли:') }}</legend>
		{{ form_widget(form.addition) }}{{ form_errors(form.addition) }}
		</fieldset>
	    </td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.country, 'Країна') }}</td>
	    <td colspan="3">{{ form_widget(form.country) }}{{ form_errors(form.country) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.region, 'Область') }}</td>
	    <td colspan="3">{{ form_widget(form.region) }}{{ form_errors(form.region) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.district, 'Район') }}</td>
	    <td colspan="3">{{ form_widget(form.district) }}{{ form_errors(form.district) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.settlement, 'Населений пункт') }}</td>
	    <td colspan="3">{{ form_widget(form.settlement) }}{{ form_errors(form.settlement) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.filter, 'Додаткові фільтри:') }}</td>
	    <td colspan="3">{{ form_widget(form.filter) }}{{ form_errors(form.filter) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.brand, 'Власне вир-во | Бренд:') }}</td>
	    <td colspan="3">{{ form_widget(form.brand) }}{{ form_errors(form.brand) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.brand_country, 'Країна виробник') }}</td>
	    <td colspan="3">{{ form_widget(form.brand_country) }}{{ form_errors(form.brand_country) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.goods_code, 'Код товару') }}</td>
	    <td colspan="3">{{ form_widget(form.goods_code) }}{{ form_errors(form.goods_code) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.goods_url, 'Посилання:') }}</td>
	    <td colspan="3">{{ form_widget(form.goods_url) }}{{ form_errors(form.goods_url) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.frequancy_volume, 'Переодичність та обєм:') }}</td>
	    <td colspan="3">{{ form_widget(form.frequancy_volume) }}{{ form_errors(form.frequancy_volume) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.single, 'Разова закупка:') }}</td>
	    <td colspan="3">{{ form_widget(form.single) }}{{ form_errors(form.single) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.pickup, 'Самовивіз:') }}</td>
	    <td colspan="3">{{ form_widget(form.pickup) }}{{ form_errors(form.pickup) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.courier, 'Кур\'єрська служба') }}</td>
	    <td colspan="3">{{ form_widget(form.courier) }}{{ form_errors(form.courier) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.transportation, 'Доставка товару:') }}</td>
	    <td colspan="3">{{ form_widget(form.transportation) }}{{ form_errors(form.transportation) }}</td>
	</tr>
	<tr>
	    <td colspan="1">{{ form_label(form.status, 'Назва:') }}</td>
	    <td colspan="3">{{ form_widget(form.status) }}{{ form_errors(form.status) }}</td>
	</tr>

    </table>                                                                                                                               
{{ form_rest(form) }}
</fieldset>
</form>
</div>

<script src='http://code.jquery.com/jquery-2.1.0.min.js' charset='utf-8'></script>
<script>
    viewNext(0,0);
    function viewNext(IDCAT,STEP){
	$.ajax({
	    url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=viewCategory&id_cat='+IDCAT+'&step='+STEP,
	    success: function(data) {
		if(STEP == 0){ $('#valueCATEGORY').html(data); }
		if(STEP == 1){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+data); }
		if(STEP == 2){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+data); }
		if(STEP == 3){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+data); }
		if(STEP == 4){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+data); }
		if(STEP == 5){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+data); }
		if(STEP == 6){ $('#valueCATEGORY').html('<div class=\"columnCategory\" id=\"step_1\">'+$('#step_1').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_2\">'+$('#step_2').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_3\">'+$('#step_3').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_4\">'+$('#step_4').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_5\">'+$('#step_5').html()+'</div>'+'<div class=\"columnCategory\" id=\"step_6\">'+$('#step_6').html()+'</div>'+data); }
		}
	    });
	}
    function setIdCategory(IdCat){
	if (confirm('Обрати категорію?') == true){
	    $.ajax({
		url:'http://wenet.pu.if.ua/tmp/emarket/mod/goods/category.php?action=setID&id_cat='+IdCat,
		success: function(data) {
		    $('#valueCATEGORY').html(data);
		    $('#postIdCategory').val(IdCat);
		    }
		});
	    }
	}
    function changeCategory(){
	viewNext(0,0);
	$('#postIdCategory').val('');
	}

</script>
{% endblock%}