/* Sticky footer styles
-------------------------------------------------- */
html {
 position: relative;
 min-height: 100%;
 }
body {
 /* Margin bottom by footer height */
 margin-bottom: 220px;
 }
.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 min-height: 220px !important;
 background-color: #f5f5f5;
 }
