{% extends '::account.html.twig' %}

{% block sub %}
    <div class="panel panel-default">
	<div class="panel-heading">Новини</div>
	<div class="panel-body">
	    <div class="media">
		<div class="media-object pull-left">
		    <img src="http://v-mashkin.ru/wp-content/uploads/2014/03/Top-News.jpg" class="img-thumbnail" width="150">
		</div>
		<div class="media-body">
		    <h5 class="media-heading"><b>ЗАГАЛОВОК НОВИН</b></h5>
		    <p>новини...</p>
		</div>
    	    </div>
    	    
	    <span class="clearfix"></span>
	    
	    <div class="media">
		<div class="media-object pull-left">
		    <img src='http://chiasuanchong.files.wordpress.com/2011/12/bbc-news-headlines.gif' class="img-thumbnail pull-left" width="150px">
		</div>
		<div class="media-body">
		    <h5 class="media-heading"><b>ЗАГАЛОВОК НОВИН</b></h5>
		    <p>новини...</p>
		</div>
	    </div>
	    
	    <span class="clearfix"></span>
	    
	</div>
	<p class="text-right">більше новин... </p>
    </div>

    <br>

    <div class="panel panel-default">
	<div class="panel-heading">Новини</div>
	<div class="panel-body">
	    <div class="media">
		<div class="media-object pull-left">
		    <img src='http://static2.businessinsider.com/image/4d7533c849e2aec902170000/this-man-can-predict-the-future-our-exclusive-qa-with-christopher-ahlberg-ceo-of-recorded-future.jpg' class="img-thumbnail" width="150px">
		</div>
		<div class="media-body">
		    <h5 class="media-heading"><b>П.І.П</b></h5>
		    <p>повідомлення...</p>
		</div>
	    </div>

	    <div style='clear:both; margin:15px 15px 0px 0px; color:#37b300; text-align:center; letter-spacing:10px;'>* * *</div>

	    <div class="media">
		<div class="media-object pull-left">
		    <img src='http://www.ekaterinawalter.com/wp-content/uploads/2013/11/womenentrepreneur.jpg' class="img-thumbnail pull-left" width="150px">
		</div>
		<div class="media-body">
		    <h5 class="media-heading"><b>П.І.П.</b></h5>
		    <p>повідомлення...</p>
		</div>
	    </div>

	    <div style='clear:both; margin:15px 15px 0px 0px; color:#37b300; text-align:center; letter-spacing:10px;'>* * *</div>
	    
	    <div class="media">
		<div class="media-object pull-left">
		    <img src='http://topblogpost.ru/wp-content/uploads/2014/07/happy_man.png' class="img-thumbnail" width="150px">
		</div>
		<div class="media-body">
		    <h5 class="media-heading"><b>П.І.П</b></h5>
		    <p>пoвідомлення...</p>
		</div>
	    </div>
	    <div style='clear:both; text-align:right; font-size:8pt; margin:20px; padding:5px;'>всі повідомлення...</div>
	</div>
    </div>
{% endblock%}