{% extends '::base.html.twig' %}

{% block body %}

<style>
 .catalog a{
  text-decoration:none;
  }
 .linkCatalog{color:#666; font-size:9pt;}
</style>

<div id="linearBg2">
    <div style='width:100%; text-align:center; margin:auto;'>
        <a href='{{ path('acme_catalog', {'name' : 'goods'}) }}'><img src='../bundles/acmetask/images/1.png'><div class='titleMenuA'>ТОВАРЫ</div></a>
        <a href='{{ path('acme_catalog', {'name' : 'services'}) }}'><img src='../bundles/acmetask/images/2.png'><div class='titleMenuA'>УСЛУГИ</div></a>
        <a href='{{ path('acme_catalog', {'name' : 'technology'}) }}'><img src='../bundles/acmetask/images/3.png'><div class='titleMenuA'>ТЕХНОЛОГИИ</div></a>
        <a href='{{ path('acme_catalog', {'name' : 'investment'}) }}'><img src='../bundles/acmetask/images/4.png'><div class='titleMenuA'>ИНВЕСТИЦИИ</div></a>
        <a href='{{ path('acme_catalog', {'name' : 'users'}) }}'><img src='../bundles/acmetask/images/5.png'><div class='titleMenuA'>ПОЛЬЗОВАТЕЛИ<br>И ОБСУЖДЕНИЯ</div></a>
    </div>
</div>

<div style="width:100%; min-height:400px !important; background-color: rgba(255, 255, 255, 0.7); padding:0px 0px 25px 0px; ">

<div style="background:#fff; padding:10px 5px 20px 5px;">
<fieldset style="100%; margin:auto; padding:0px 20px 20px 20px; border-radius:6px; background:#eee;">
     <legend style="font-size:12pt; font-weight:bold; color:#37b300; padding:10px; border-radius:6px; background:#fff;">{{ name }}</legend>
     <table width="100%" cellpadding="5" cellspacing="5" class="catalog" style="background:#fff; margin-top:20px;">
     <tr valign="top">
     <td>
     <div id="treeboxbox_tree" style="min-height:100%"></div>
     </td>
     <td>
     <div id="categoryContent"></div>
     </td>
     </tr>
     </table>
</fieldset>
</div>

<link rel='stylesheet' type='text/css' media='all' href='http://wenet.pu.if.ua/tmp/emarket/theme/navy/catalog.css'>
<link rel="stylesheet" type="text/css" media="screen" href="http://wenet.pu.if.ua/tmp/emarket/theme/navy/dhtmlTree/dhtmlxtree.css">
<script src='http://code.jquery.com/jquery-2.1.0.min.js' charset='utf-8'></script>
<script type="text/javascript" src="http://wenet.pu.if.ua/tmp/emarket/data/jscript/dhtmlTree/dhtmlxtree.js" type="text/javascript" charset="utf-8"></script>
<script>
     tree=new dhtmlXTreeObject("treeboxbox_tree","100%","100%",{{ id }});
     tree.setSkin("dhx_skyblue");
     tree.setImagePath("http://wenet.pu.if.ua/tmp/emarket/theme/navy/dhtmlTree/imgs/dhxtree_skyblue/");
     tree.enableMultiLineItems("200px");
     tree.setXMLAutoLoading("http://wenet.pu.if.ua/tmp/emarket/mod/catalog/tree.php");
     tree.setDataMode("json");
     tree.setEscapingMode("utf8");
     tree.loadJSON("http://wenet.pu.if.ua/tmp/emarket/mod/catalog/tree.php?id={{ id }}&parent={{ parent}}");
     
     tree.setOnLoadingStart(loadContent({{ id }}));
     tree.attachEvent("onOpenEnd",function(nodeId, event){loadContent(nodeId);});
     tree.setOnClickHandler(loadContent(nodeId));
     tree.setOnDblClickHandler(loadContent(nodeId));
     
     function loadContent(thisID){
        $.ajax({
	    url:"http://wenet.pu.if.ua/tmp/emarket/mod/catalog/tree_content.php?id="+thisID+"&parent={{ parent }}",
	    success: function(data) { $("#categoryContent").html(data);}
    	    });
        }
</script>     

{% endblock %}